{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Sponsorship Period - {{ sponsorshipperiod.sponsor.name }}{% endblock %}

{% block page_title %}
  <h1 class="title">Sustaining Member Periods (all)</h1>
{% endblock page_title %}

{% block content %}
  <div class="columns">
    <div class="column is-10">
      <h1>{{ sponsorshipperiod.sponsor.name }}</h1>
    </div>
    <div class="column is-2 has-text-right">
    </div>
  </div>

  <div class="columns">
    <div class="column is-6">
      {% if sponsorshipperiod.sponsor.logo %}
        <figure class="image">
          <img src="{{ sponsorshipperiod.sponsor.logo.url }}" alt="Sponsor Logo">
        </figure>
      {% endif %}
    </div>
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="fas fa-info-circle"></i></span>
            Sponsorship Period Details
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><strong>Sustaining Membership Level:</strong> {{ sponsorshipperiod.sponsorship_level }}</p>
            <p><strong>Start Date:</strong> {{ sponsorshipperiod.start_date }}</p>
            <p><strong>End Date:</strong> {{ sponsorshipperiod.end_date }}</p>
            <p><strong>Amount Paid:</strong> 
              {% if sponsorshipperiod.amount_sponsored != None %}
                {{ sponsorshipperiod.amount_sponsored }} {{ sponsorshipperiod.currency }}
              {% else %}
                n/a
              {% endif %}
            </p>
            {% if sponsorshipperiod.sponsorshiplevel.logo %}
              <figure class="image">
                <img src="{{ sponsorshipperiod.sponsorshiplevel.logo.url }}" alt="Sponsorship Level Logo">
              </figure>
            {% endif %}
          </div>
        </div>
        <footer class="card-footer p-3">
          <a class="button is-danger is-outlined card-footer-item" 
            href='{% url "sponsorshipperiod-delete" slug=sponsorshipperiod.slug %}' 
            title="Delete {{ sponsorshipperiod.sponsor.name }}">
            <span class="icon"><i class="fas fa-trash"></i></span>
            <span>Delete</span>
          </a>
          <a class="button is-light card-footer-item ml-3" 
            href='{% url "sponsorshipperiod-update" slug=sponsorshipperiod.slug %}' 
            title="Edit {{ sponsorshipperiod.sponsor.name }}">
            <span class="icon"><i class="fas fa-pencil-alt"></i></span>
            <span>Edit</span>
          </a>
        </footer>
      </div>
    </div>
  </div>
{% endblock %}
