{% extends "base_with_sidebar.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% block title %}Sustaining Membership Periods - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Sustaining Membership Periods (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="columns is-vcentered">
        <div class="column">
            <h1 class="title">
                {% if unapproved %}Unapproved {% endif %}
                Sustaining Membership Periods
            </h1>
        </div>
        <div class="column is-narrow">
            {% if user.is_authenticated %}
                <div class="buttons">
                    {% if user.is_staff or user == project.owner or user in project.changelog_managers.all %}
                        <a class="button is-success" href='{% url "sponsorshipperiod-create" %}'>
                            <span class="icon">
                                <i class="fas fa-asterisk"></i>
                            </span>
                            <span>Create New</span>
                        </a>
                    {% endif %}
                    {% if not unapproved %}
                        <a class="button is-light" href='{% url "pending-sponsorshipperiod-list" %}'>
                            <span class="icon">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span>View Pending</span>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if num_sponsorshipperiods == 0 %}
        {% if unapproved %}
            <h3>All sustaining membership periods are approved.</h3>
        {% else %}
            <h3>No sustaining membership periods are defined, but you can <a class="button is-small is-info" href='{% url "sponsorshipperiod-create" %}'>create one</a>.</h3>
        {% endif %}
    {% endif %}

    {% include "sponsorship_period/table.html" with sponsors=sponsorshipperiods %}

    {% include "_pagination.html" %}
{% endblock %}
