{% load thumbnail %}

{% regroup sponsors by sponsorship_level as level_list %}

{% for level in level_list %}
  <h3 class="subtitle">{{ level.grouper }}</h3>
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Organisation</th>
        <th>Amount Contributed</th>
        <th>Sustaining Membership Period</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for sponsor in level.list %}
      <tr>
        <td>
            {% if sponsor.sponsor.logo %}
                <a href="{{ sponsor.sponsor.logo.url }}">
                  <img src="{{ sponsor.sponsor.logo.url }}" style="width: 30px; height: auto;">
                </a>
            {% endif %}
        </td>
        <td>{{ sponsor.sponsor }}</td>
        <td>
            {% if sponsor.amount_sponsored %}
                {{ sponsor.amount_sponsored }} {{ sponsor.currency }}
            {% else %}
                n/a
            {% endif %}
        </td>
        <td>{{ sponsor.start_date }} - {{ sponsor.end_date }}</td>
        <td>
          {% if not sponsor.approved %}
              {% if user.is_staff or user == sponsor.project.owner or user in sponsor.project.sponsorship_managers.all %}
                  <a class="button is-small is-success" href='{% url "sponsorshipperiod-approve" slug=sponsor.slug %}'>
                      <span class="icon is-small">
                          <i class="fas fa-thumbs-up"></i>
                      </span>
                  </a>
                  <a class="button is-small is-danger is-outlined" href='{% url "sponsorshipperiod-delete" slug=sponsor.slug %}'>
                      <span class="icon is-small">
                          <i class="fas fa-trash"></i>
                      </span>
                  </a>
                  <a class="button is-small is-light" href='{% url "sponsorshipperiod-update" slug=sponsor.slug %}'>
                      <span class="icon is-small">
                          <i class="fas fa-edit"></i>
                      </span>
                  </a>
              {% endif %}
          {% endif %}
          {% if sponsor.approved %}
              <a class="button is-small is-light" href='{% url "sponsorshipperiod-detail" slug=sponsor.slug %}'>
                  <span class="icon is-small">
                      <i class="fas fa-eye"></i>
                  </span>
              </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}