{% load thumbnail %}
{% load i18n %}
{% if not the_project %}
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            All Projects
        </a>
        <div class="navbar-dropdown">
            {% for project in the_projects %}
                {% if project.approved %}
                    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'project-detail' project.slug %}">
                        {{ project.name }}
                    </a>
                {% else %}
                    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'pending-project-list' %}"></a>
                        {{ project.name }} <b>(pending)</b>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Organisation
        </a>
        <div class="navbar-dropdown">
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'create-organisation' %}">
                Create Organisation
            </a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'list-organisation' %}">
                Organisation List
            </a>
        </div>
    </div>
    {% if user.is_staff %}
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Domain
        </a>
        <div class="navbar-dropdown">
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'register-domain' %}"></a>
                Register a Domain
            </a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'domain-list' %}"></a>
                Domain List
            </a>
        </div>
    </div>
    {% endif %}
    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'project-create' %}">Create Project</a>
    {% if flatpages %}
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Info Pages
        </a>
        <div class="navbar-dropdown">
            {% for page in flatpages %}
                <a class="navbar-item has-text-weight-semibold is-size-7" href='/flatpage{{ page.url }}'>{{ page.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% else %}
    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url "project-detail" the_project.slug %}">
        {{ the_project.name }}
    </a>
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Teams
        </a>
        <div class="navbar-dropdown">
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'committee-list' the_project.slug %}">
                Team List
            </a>
            {% comment %} <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'ballot-list' the_project.slug the_committee.slug %}">
                Team Ballots
            </a> {% endcomment %}
            {% comment %} <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'ballot-create' the_project.slug the_committee.slug %}"></a>
                Start Ballot
            </a> {% endcomment %}
        </div>
    </div>
    {% if user.is_staff or user in the_project.changelog_manager.all %}
        <div class="navbar-item has-dropdown is-hoverable p-0">
            <a class="navbar-link has-text-weight-semibold is-size-7">
                Changelog
            </a>
            <div class="navbar-dropdown">
                <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'category-list' the_project.slug %}">Categories</a>
                <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'version-list' the_project.slug %}">Versions</a>
            </div>
        </div>
    {% endif %}
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Sustaining Members
        </a>
        <div class="navbar-dropdown">
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sponsor-programme' the_project.slug %}">Learn about Sustaining Member Programme</a>
            {% if user.is_authenticated %}
                {% if not is_sustaining_member %}
                    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sustaining-member-create' the_project.slug %}">Sign up</a>
                {% else %}
                    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sustaining-membership' the_project.slug %}">Membership</a>
                {% endif %}
            {% endif %}
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sponsor-list' the_project.slug %}">Sustaining Members</a>
            {% if user.is_authenticated %}
                <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sponsorshiplevel-list' the_project.slug %}">Sustaining Member Levels</a>
                <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sponsorshipperiod-list' the_project.slug %}">Sustaining Member Periods</a>
            {% endif %}
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'sponsor-world-map' the_project.slug %}">Sustaining Members Map</a>
        </div>
    </div>
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Certification
        </a>
        <div class="navbar-dropdown">
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'about' the_project.slug %}">Learn about Certification</a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'certifyingorganisation-create' the_project.slug %}">{% trans 'Sign Up for Certification!' %}</a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'certifyingorganisation-list' the_project.slug %}">Approved Organisations</a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'pending-certifyingorganisation-list' the_project.slug %}?ready=False">Pending Organisations</a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'pending-certifyingorganisation-list' the_project.slug %}?ready=True">Pending Organisations - Ready</a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'validate-certificate-organisation' the_project.slug %}">Verify certificate for Certifying Organisation</a>
            <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'validate-certificate' the_project.slug %}">Verify certificate for Attendee</a>
            {% if user.is_staff or user in the_project.certification_managers.all %}
                <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'certification-management-view' the_project.slug %}">Certification Management</a>
            {% endif %}
        </div>
    </div>
    {% if project_flatpages %}
    <div class="navbar-item has-dropdown is-hoverable p-0">
        <a class="navbar-link has-text-weight-semibold is-size-7">
            Info Pages
        </a>
        <div class="navbar-dropdown">
            {% for page in project_flatpages %}
                <a class="navbar-item has-text-weight-semibold is-size-7" href='{% url "project_flatpage" project_slug=the_project.slug url=page.url %}'>{{ page.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}
