{% load static %}



<nav id="sidebar" class="sidebar">
  <ul class="content-wrapper">
    {% if user.is_authenticated %}
      {% if user.is_staff or user == the_project.owner or user in the_project.changelog_managers.all %}
        <li>
          <a class="button is-success is-medium" href="{% url "version-create" the_project.slug %}">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>New Version</span>
          </a>
        </li>
        <hr/>
      {% endif %}
    {% endif %}

    <li>
      <a href="{% url 'category-list' the_project.slug %}"> 
      <i class="fas fa-tags mr-3"></i>
      Categories
      </a>
    </li>
    <li>
      <a href="{% url 'version-list' the_project.slug %}"> 
      <i class="fas fa-code-branch mr-3"></i>
      Versions
      </a>
    </li>

    {% if version %}
      <li>
        <div class="has-child">
          <a onclick="toggleSubMenu('categories')">
            <i class="fas fa-list mr-3"></i>
            Categories for {{ project.name }} {{ version.name }}
          </a>
          <span onclick="toggleSubMenu('categories')" class="drop-arrow">
            <img src="{% static "images/arrow.svg" %}"/>
          </span>
        </div>
        <ul id="categories" class="collapsed unfolded">
          {% for row in version.categories %} 
            {% if row.entries %}
              <li class="has-child" data-category-id="{{ row.category.id }}">
              <a href="#category-{{ row.category.id }}"> 
                {{ row.category.name }} 
              </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
      </li>
    {% endif %}
    </ul>
  </nav>

<script>
  function rotateArrow(e) {
    e.previousElementSibling.querySelector('img').classList.toggle('rotated');
  }

  function toggleSubMenu(listId) {
    console.log(listId)
    let e = document.getElementById(listId);
    e.classList.toggle('unfolded');
    rotateArrow(e);
  }

  function toggleMenu() {
    document.getElementById('sidebar').classList.toggle('visible');
    document.getElementById('hamburger-btn').classList.toggle('open');
  }
  // expand active section
  document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
    if (e = li.querySelector('ul')) {
      e.classList.toggle('unfolded');
    }
  });
  // Add is-active class to the element with class has-child if its id matches the URL fragment
  $(window).on('hashchange', function() {
    let hash = window.location.hash.substring(1); // Remove the '#' from the hash
    $('.has-child').each(function() {
      let category = "category-" + $(this).data('category-id');
      if (category === hash) {
        $(this).addClass('is-active');
      } else {
        $(this).removeClass('is-active');
      }
    });
  });

  // Trigger the hashchange event on page load to handle the initial URL fragment
  $(window).trigger('hashchange');
</script>