{% load static %}
<section class="hero is-dark is-medium has-bg-img" style="background: url({% static "images/hegobg1.webp" %});
background-position: 50%;
background-size: cover;">
    <div class="hero-body">
        <div class="columns container">
            <div class="column is-8 is-flex hero-text has-text-left">
                <div class="hero-container">
                    <h1 class="title hero-title pr-3">
                        QGIS Sustaining Membership Program
                    </h1>
                    <p class="subtitle hero-subtitle">
                        Support the development of QGIS, an essential tool for the global GIS community.
                    </p>
                </div>
                <div class="is-vcentered">
                    <a class="button is-primary1 is-size-5" href="mailto:finance@qgis.org?subject=QGIS%20Sustaining%20Membership" target="_blank">
                        <i class="fas fa-award mr-3"></i>
                        Become a Sustaining Member
                    </a>
                </div>
    
            </div>
            <div class="logo column is-justify-content-center">
                <figure class="image">
                    <img src="{% static "images/large-logo.svg" %}">
                </figure>
            </div>
        </div>
    </div>
</section>