{% load static %}

<nav id="sidebar" class="sidebar">
  <ul class="content-wrapper">
    <li>
      <a href="{% url 'sponsor-programme' the_project.slug %}">
        <i class="fas fa-info-circle mr-3"></i>
        About the Programme
      </a>
    </li>
    {% if user.is_authenticated %}
      {% if not is_sustaining_member %}
        <li>
          <a href="{% url 'sustaining-member-create' the_project.slug %}">
            <i class="fas fa-user-plus mr-3"></i>
            Sign up
          </a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'sustaining-membership' the_project.slug %}">
            <i class="fas fa-user-check mr-3"></i>
            Membership
          </a>
        </li>
      {% endif %}
    {% endif %}
    <li>
      <a href="{% url 'sponsor-list' the_project.slug %}">
        <i class="fas fa-users mr-3"></i>
        Sustaining Members
      </a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'sponsorshiplevel-list' the_project.slug %}">
          <i class="fas fa-layer-group mr-3"></i>
          Sustaining Member Levels
        </a>
      </li>
      <li>
        <a href="{% url 'sponsorshipperiod-list' the_project.slug %}">
          <i class="fas fa-calendar-alt mr-3"></i>
          Sustaining Member Periods
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{% url 'sponsor-world-map' the_project.slug %}">
        <i class="fas fa-map mr-3"></i>
        Sustaining Members Map
      </a>
    </li>
  </ul>
</nav>

<script>
  function rotateArrow(e) {
    e.previousElementSibling.querySelector('img').classList.toggle('rotated');
  }

  function toggleSubMenu(listId) {
    console.log(listId)
    let e = document.getElementById(listId);
    e.classList.toggle('unfolded');
    rotateArrow(e);
  }

  function toggleMenu() {
    document.getElementById('sidebar').classList.toggle('visible');
    document.getElementById('hamburger-btn').classList.toggle('open');
  }
  // expand active section
  document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
    if (e = li.querySelector('ul')) {
      e.classList.toggle('unfolded');
    }
  });
</script>
