{% load static %}

<nav id="sidebar" class="sidebar">
  <ul class="content-wrapper">
    {% if user.is_authenticated and is_sustaining_member %}
      {% url 'sustaining-membership' as membership_url %}
      <li class="{% if request.path == membership_url %}is-active{% endif %}">
        <a href="{{ membership_url }}">
          <i class="fas fa-user-check mr-3"></i>
          Your Membership
        </a>
      </li>
      {% else %}
        <li>
          <a class="button is-success is-medium has-tooltip-bottom has-tooltip-arrow"
          data-tooltip="Become a sustaining member!"
          href="mailto:finance@qgis.org?subject=QGIS%20Sustaining%20Membership">
            <i class="fas fa-award mr-3"></i>
            Sign up!
          </a>
        </li>
        <hr/>
    {% endif %}
    {% url 'sponsor-list' as sponsor_list_url %}
    <li class="{% if request.path == sponsor_list_url %}is-active{% endif %}">
      <a href="{{ sponsor_list_url }}">
        <i class="fas fa-home mr-3"></i>
        QGIS Members Home
      </a>
    </li>
    {% if user.is_authenticated and user.is_staff %}
    {% url 'pending-sponsor-list' as pending_sponsor_list_url %}
    <li class="{% if request.path == pending_sponsor_list_url %}is-active{% endif %}">
      <a href="{{ pending_sponsor_list_url }}">
        <i class="fas fa-user-clock mr-3"></i>
        Pending Members
      </a>
    </li>
    {% url 'future-sponsor-list' as future_sponsor_list_url %}
    <li class="{% if request.path == future_sponsor_list_url %}is-active{% endif %}">
      <a href="{{ future_sponsor_list_url }}">
      <i class="fas fa-user-plus mr-3"></i>
      Future Members
      </a>
    </li>
    {% endif %}
    {% url 'past-sponsor-list' as past_sponsor_list_url %}
    <li class="{% if request.path == past_sponsor_list_url %}is-active{% endif %}">
      <a href="{{ past_sponsor_list_url }}">
      <i class="fas fa-user-clock mr-3"></i>
      Past Members
      </a>
    </li>
    {% if user.is_authenticated %}
      {% url 'sponsorshiplevel-list' as level_list_url %}
      <li class="{% if request.path == level_list_url %}is-active{% endif %}">
        <a href="{{ level_list_url }}">
          <i class="fas fa-layer-group mr-3"></i>
          Levels
        </a>
      </li>
      {% url 'sponsorshipperiod-list' as period_list_url %}
      <li class="{% if request.path == period_list_url %}is-active{% endif %}">
        <a href="{{ period_list_url }}">
          <i class="fas fa-calendar-alt mr-3"></i>
          Periods
        </a>
      </li>
      {% if user.is_staff %}
      {% url 'sponsor-email-list' as email_list_url %}
      <li class="{% if request.path == email_list_url %}is-active{% endif %}">
        <a href="{{ email_list_url }}">
          <i class="fas fa-envelope mr-3"></i>
          Emails
        </a>
      </li>
      {% endif %}
    {% endif %}
    <li>
      <a href="https://qgis.org/funding/membership/" target="_blank">
        <i class="fas fa-info-circle mr-3"></i>
        About the Programme
      </a>
    </li>
  </ul>
</nav>

<script>
  function rotateArrow(e) {
    e.previousElementSibling.querySelector('img').classList.toggle('rotated');
  }

  function toggleSubMenu(listId) {
    console.log(listId)
    let e = document.getElementById(listId);
    e.classList.toggle('unfolded');
    rotateArrow(e);
  }

  function toggleMenu() {
    document.getElementById('sidebar').classList.toggle('visible');
    document.getElementById('hamburger-btn').classList.toggle('open');
  }
  // expand active section
  document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
    if (e = li.querySelector('ul')) {
      e.classList.toggle('unfolded');
    }
  });
</script>
