{% extends "layouts/changes_base.html" %}
{% load custom_markup %}

{% block title %}Category Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Category Deleted</h1>
{% endblock page_title %}

{% block content %}
    <form action="" id="delete-confirmation" method="post">{% csrf_token %}
        <div class="notification is-warning is-light">
            <div class="columns">
                <div class="column is-10">
                    <p class="is-size-5">Please confirm you wish to delete the category below!</p>
                </div>
                <div class="column is-2">
                    <div class="buttons">
                        <a class="button is-danger"
                           href="#"
                           onClick="$('#delete-confirmation').submit()"
                           title="Delete {{ category.name }}">
                            <span class="icon">
                                <i class="fas fa-minus"></i>
                            </span>
                        </a>
                        <a class="button is-light"
                           href='{% url "category-list" category.project.slug %}'
                           title="Cancel">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h3 class="subtitle">Category: {{ category.name }}</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-8">
                {{ category.description|base_markdown }}
            </div>
            <div class="column is-4">
                {% if category.image_file %}
                    <figure class="image is-4by3">
                        <img class="is-rounded"
                             src="{{ category.image_file.url }}" />
                    </figure>
                {%  endif %}
            </div>
        </div>
    </form>
{% endblock %}
