{% extends "layouts/changes_base.html" %}
{% load thumbnail %}
{% load custom_markup %}

{% block title %}Categories - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Categories (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h2 class="title is-4">
            Categories
            {% if user.is_authenticated %}
                <div class="buttons is-pulled-right">
                    <a class="button is-success"
                       href='{% url "category-create" project_slug %}'
                       title="Create New Category">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>New Category</span>
                    </a>
                    {% if user.is_staff or user in the_project.changelog_managers.all or user == the_project.owner %}
                        <a class="button is-light"
                            href='{% url "category-order" project_slug %}'
                            title="Order Categories">
                            <span class="icon">
                                <i class="fas fa-sort"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
                <span id="order-saved" hidden class="notification is-success is-light" style="font-size: 9pt; padding: 3px; font-style: italic;">
                    order saved
                </span>
                <span id="order-not-saved" hidden class="notification is-danger is-light" style="font-size: 9pt; padding: 3px; font-style: italic;">
                    order not saved
                </span>
            {% endif %}
        </h2>
    </div>

    {% if num_categories == 0 %}
        <h3 class="subtitle is-5">No categories are defined, but you can 
            <a class="button is-small is-light"
                href='{% url "category-create" project_slug %}'>
            create one</a>.
        </h3>
    {% endif %}

    {% if user.is_authenticated and user.is_staff %}
        <ul id="sortable" data-url="{% url "category-submit-order" project_slug %}">
    {% else %}
        <ul>
    {% endif %}
    
    </ul>
    <div>
        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th class="has-text-left">Category</th>
                    <th class="has-text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>
                        <a href='{% url "category-detail" project_slug=category.project.slug slug=category.slug %}'>
                            {{ category.name }}
                        </a>
                    </td>
                    <td>
                        <div class="buttons is-pulled-right">
                            <a class="button is-small is-light"
                                href='{% url "category-update" project_slug=category.project.slug slug=category.slug %}'>
                                <span class="icon is-small">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </a>
                            <a class="button is-small is-danger is-light"
                                href='{% url "category-delete" project_slug=category.project.slug slug=category.slug %}'>
                                <span class="icon is-small">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
