{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Sustaining Membership Level Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
  <h1 class="title">Sustaining Membership Level Deleted</h1>
{% endblock page_title %}

{% block content %}
  <div class="box box-content">
    <form action="" id="delete-confirmation" method="post">{% csrf_token %}
      <div class="notification is-light is-danger">
        <p class="is-size-5">Please confirm you wish to delete the Sustaining Membership level below!</p>
      </div>
      <div class="content">
        <h3 class="subtitle">Sustaining Membership Level: {{ sponsorshiplevel.name }}</h3>
      </div>
      <div class="content">
        {% if sponsorshiplevel.logo %}
          <figure class="image">
            <img src="{{ sponsorshiplevel.logo.url }}" alt="Logo">
          </figure>
        {% endif %}
      </div>
      <div class="buttons is-right">
        <button class="button is-danger" type="submit" title="Delete {{ sponsorshiplevel.name }}">
          <span class="icon"><i class="fas fa-trash"></i></span>
          <span>Delete</span>
        </button>
        <a class="button is-light" href='{% url "sponsorshiplevel-list" %}' title="Cancel">
          <span class="icon"><i class="fas fa-arrow-left"></i></span>
          <span>Cancel</span>
        </a>
      </div>
    </form>
  </div>
{% endblock %}
