{% extends "layouts/certification_base.html" %}
{% load static %}

{% block extra_js %}
{% endblock %}

{% block content %}

    <div class="container has-text-centered">
        <h1 class="title">Validate Certificate</h1>
        <h4 class="subtitle">Input your certificate ID here:</h4>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#submit-button").on("click", function() {
                var query = $("#InputID").val();
                location.href = '/en/' + '{{ project_slug }}' + '/certificate/' + query + '/';
            });
        });
    </script>

    <div class="container has-text-centered">
        <div class="field">
            <div class="control">
                <input class="input is-medium" type="text" id="InputID" value="" autofocus/>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-success is-medium" id="submit-button">
                    <span class="icon is-small">
                        <i class="fas fa-search"></i>
                    </span>
                    <span>Search</span>
                </button>
            </div>
        </div>
    </div>

{% endblock %}