{% extends "layouts/certification_base.html" %}
{% load static %}
{% load custom_markup %}
{% load static %}

{% block title %}Certifying Organisation - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certifying Organisation (all)</h1>
{% endblock page_title %}

{% block js_head %}
    <script>
        var map;
        var lat;
        var long;
        

        $(document).ready(function () {
             $.getJSON('{{ STATIC_URL }}/static/json/geo.json', function (json) {
                // Get geo json object with the same country code from certifying organisation
                var geo_obj = $.grep(json['features'], function (e) {
                        return e.properties.ISO2 == '{{ certifyingorganisation.country }}';
                    });

                // Put marker of the country on the map
                lat = geo_obj[0].properties.LAT;
                long = geo_obj[0].properties.LON;

                // Add map
                $('#map').css({'height': 400, 'width': "100%"});
                map = Leaflet.map('map').setView([lat, long], 4);
                Leaflet.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                    attribution:  '&copy; <a href="http://www.openstreetmap.org/copyright">'+
                                    'OpenStreetMap</a>, Tiles courtesy of '+
                                    '<a href="http://hot.openstreetmap.org/" target="_blank">'+
                                    'Humanitarian OpenStreetMap Team</a>'
                }).addTo(map);

                addMarkers();
                addLegend();
             });

            function addMarkers() {
            var green_icon = Leaflet.icon({
                            iconUrl: '/static/img/marker_green.png',
                            iconSize:     [30, 40],
                            iconAnchor:   [14, 39],
                            popupAnchor:  [0, -30]
                        });

            {% for training_center in trainingcenters %}
                var marker = Leaflet.marker(
                   [{{ training_center.location.y }}, {{ training_center.location.x }}],{
                        icon: green_icon
                    }
               ).addTo(map).bindPopup('{{ training_center.name }}');
            {% endfor %}
            }

            function addLegend() {
                var legend = Leaflet.control({position: 'bottomleft'});
                legend.onAdd = function (map) {
                    var div = Leaflet.DomUtil.create('div', 'info legend');
                    div.innerHTML = '<img src="/static/img/marker_green.png" height=20px><span> Training center</span>';
                return div;
                };
                legend.addTo(map);
            }

        });

    </script>
{% endblock %}

{% block content %}
    <style>
        .about-link:hover {
            color: darkblue !important;
            text-decoration: none !important;
        }

        .timeline ul, .timeline li {
            list-style: none;
            padding: 0;
        }

        .timeline li {
            padding-bottom: 1.5rem;
            border-left: 2px solid #8f8f8f;
            position: relative;
            padding-left: 20px;
        }

        .timeline li:last-child {
            border-left: 1px solid rgba(255, 255, 255, 0);
            padding-bottom: 0;
        }

        .timeline li:before {
            content: "";
            width: 15px;
            height: 15px;
            background: #e8e8e8;
            border: 2px solid #707070;
            border-radius: 50%;
            position: absolute;
            left: -8.5px;
            top: 0px;
        }
    </style>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if 'credits_top_up' in message.tags %}
                    <div class="alert alert-success" role="alert" style="font-size: 15px;">
                        {{ message|safe }}
                        <button type="button" class="close"
                                data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- Modal -->
    <div class="modal" id="rejectionModal" role="dialog">
        <div class="modal-background"></div>
        <!-- Modal content-->
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><b>Rejection Form</b></p>
                <button class="delete" aria-label="close" onclick="closeRejectionForm()"></button>
            </header>
            <section class="modal-card-body">
                <p>You are going to reject this organisation below:</p>
                <ul>
                    <li><span>Organisation: </span><span class="rejection-form-info" id="rejected-organisation-name"></span></li>
                    <li><span>Country: </span><span class="rejection-form-info" id="rejected-organisation-country"></span></li>
                </ul>
                <form id="rejectionForm" role="form">
                    <div class="field">
                        <label class="label">Please indicate your reason for this rejection.</label>
                        <div class="control">
                            <input name="status" class="input" value="Rejected, because ">
                        </div>
                    </div>
                    <input name="rejected-organisation-slug" type="hidden">
                    <input name="rejected-organisation-project-slug" type="hidden">
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-light" onclick="closeRejectionForm()">Cancel</button>
                <button class="button is-success" onclick="submitRejectionForm()">Submit</button>
            </footer>
        </div>
    </div>
    <div class="modal" id="updateStatusModal" role="dialog">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><b>Update Status Form</b></p>
                <button class="delete" aria-label="close" onclick="closeUpdateStatusForm()"></button>
            </header>
            <section class="modal-card-body">
                <p>You are going to update the status of this organisation below:</p>
                <ul>
                    <li><span>Organisation: </span><span class="status-form-info" id="status-organisation-name"></span></li>
                    <li><span>Country: </span><span class="status-form-info" id="status-organisation-country"></span></li>
                </ul>
                <form id="updateStatusForm" role="form">
                    <div class="field">
                        <label class="label">Status:</label>
                        <div class="control">
                            <div class="select">
                                <select name="update-status"></select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Remarks:</label>
                        <div class="control">
                            <input name="update-remarks" class="input">
                        </div>
                    </div>
                    <input name="status-organisation-slug" type="hidden">
                    <input name="status-organisation-project-slug" type="hidden">
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-light" onclick="closeUpdateStatusForm()">Cancel</button>
                <button class="button is-success" onclick="submitUpdateStatusForm()">Submit</button>
            </footer>
        </div>
    </div>

    <div class="modal" id="inviteReviewerModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"><b>Invite External Reviewer</b></p>
                <button class="delete" aria-label="close" onclick="closeInviteExternalReviewer()"></button>
            </header>
            <section class="modal-card-body">
                <div id="ie-badge" class="tag is-success" style="margin-bottom: 10px; display: none"></div>
                <form id="inviteExternalReviewerForm" role="form">
                    <div class="field">
                        <label class="label">Name:</label>
                        <div class="control">
                            <input name="reviewer-name" class="input">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email:</label>
                        <div class="control">
                            <input name="reviewer-email" class="input">
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-light" onclick="closeInviteExternalReviewer()">Cancel</button>
                <button id="btn-submit-invite" class="button is-success" onclick="submitInviteExternalReviewer(this)">Submit</button>
            </footer>
        </div>
    </div>
    <div class="modal" id="checklistModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <!-- Modal content -->
            <form method="post" id="checklistForm" action="{% url "update-checklist-reviewer" project_slug=project_slug slug=certifyingorganisation.slug %}">
                {% csrf_token %}
                <input type="hidden" name="organisation" value="{{ certifyingorganisation.id }}"/>
                <header class="modal-card-head">
                    <p class="modal-card-title"><b>Checklist</b></p>
                    <button class="delete" aria-label="close" onclick="closeChecklistModal()"></button>
                </header>
                <section class="modal-card-body">
                    {% for checklist in available_checklist %}
                        <hr/>
                        <div class="field">
                            <label class="label">{% if checklist.organisation_checklist.0.checklist_question %}{{ checklist.organisation_checklist.0.checklist_question }}{% else %}{{ checklist.question }}{% endif %}</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="checklist-{{ checklist.id  }}" id="yes-{{ checklist.id }}" {% if checklist.organisation_checklist.0.checked %}checked{% endif %} value="yes">
                                    Yes
                                </label>
                                <label class="radio">
                                    <input type="radio" name="checklist-{{ checklist.id  }}" id="no-{{ checklist.id }}" {% if not checklist.organisation_checklist.0.checked %}checked{% endif %} value="no">
                                    No
                                </label>
                            </div>
                        </div>
                        {% if checklist.show_text_box %}
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="textarea-{{ checklist.id }}" rows="3">{{ checklist.organisation_checklist.0.text_box_content }}</textarea>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </section>
                <footer class="modal-card-foot">
                    <button type="button" class="button is-light" onclick="closeChecklistModal()">Cancel</button>
                    <button type="button" class="button is-success" onclick="submitChecklistForm()">Submit</button>
                </footer>
            </form>
        </div>
    </div>
    <!-- End modal -->
    <div class="columns is-vcentered">
        <div class="column">
            <h1 class="title">{{ certifyingorganisation.name }}</h1>
        </div>

        {# Only organisation owners or staff can edit #}
        <div class="column buttons has-text-right">
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom icon about-link"
               data-tooltip="About Certification"
               href="{% url 'about' certifyingorganisation.project.slug %}">
                <i class="fas fa-info-circle"></i>
            </a>
            {% if certifyingorganisation.approved %}
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom icon"
               href='{% url "feed-training-center" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}' target="_blank"
               data-tooltip="GeoJSON Feed for List of Training Center">
                <i class="fas fa-rss-square"></i>
            </a>
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom icon"
               href='{% url "feed-upcoming-course" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}' target="_blank"
               data-tooltip="Feed for List of Upcoming Courses">
                <i class="fas fa-rss"></i>
            </a>
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom icon"
               href='{% url "feed-past-course" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}' target="_blank"
               data-tooltip="Feed for List of Past Courses">
                <i class="fas fa-rss"></i>
            </a>
            {% endif %}
            {% if user_can_delete %}
                <a class="button is-danger is-light has-tooltip-arrow has-tooltip-bottom icon"
                   href='{% url "certifyingorganisation-delete" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                   data-tooltip="Delete {{ certifyingorganisation.name }}">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="button is-light has-tooltip-arrow has-tooltip-bottom icon"
                   href='{% url "certifyingorganisation-update" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                   data-tooltip="Edit {{ certifyingorganisation.name }}">
                    <i class="fas fa-pencil-alt"></i>
                </a>
            {% endif %}
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom icon"
               href='{% if certifyingorganisation.approved %}
                        {% url "certifyingorganisation-list" certifyingorganisation.project.slug %}
                      {% else %}
                        {% url "pending-certifyingorganisation-list" certifyingorganisation.project.slug %}?ready={% if certifyingorganisation.status.name == 'Pending' %}false{% else %}true{% endif %}
                      {% endif %}'
               data-tooltip="Back">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>

    <div class="columns">
        <div class="column is-half">
            <div class="content">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Organisation Details</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">Name:</div>
                                <div class="column">{{ certifyingorganisation.name }}</div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">Address:</div>
                                <div class="column">{{ certifyingorganisation.address }}</div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">Country:</div>
                                <div class="column">{{ certifyingorganisation.country.name }}</div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">Email:</div>
                                <div class="column">
                                    <a href="mailto:{{ certifyingorganisation.organisation_email }}" style="word-wrap: break-word;">{{ certifyingorganisation.organisation_email }}</a>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">Phone:</div>
                                <div class="column">{{ certifyingorganisation.organisation_phone }}</div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">Owners:</div>
                                <div class="column">
                                    {% for organisation_owners in certifyingorganisation.organisation_owners.all %}
                                        {% if organisation_owners.first_name %}
                                            {{ organisation_owners.first_name }} {{ organisation_owners.last_name }}{{ ", " }}
                                        {% else %}
                                            {{ organisation_owners }}{{ ", " }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column is-one-third has-text-weight-medium">URL:</div>
                                <div class="column">
                                    {% if certifyingorganisation.url %}
                                        <a href='{{ certifyingorganisation.url }}' style="word-wrap: break-word;">{{ certifyingorganisation.url }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div>
                    {% for question in submitted_checklist %}
                        {% if question.checklist_target == 'organization_owner' %}
                            <p>{{ question.checklist_question }}:
                                {% if question.checked %}
                                    <i class="fas fa-check-circle has-text-success"></i>
                                {% else %}
                                    <i class="fas fa-times-circle has-text-danger"></i>
                                {% endif %}
                            </p>
                            {% if question.text_box_content %}
                                <p>{{ question.text_box_content | base_markdown }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if certifyingorganisation.approved %}
            <div class="column is-half">

                {% if user_can_create %}
                <div class="card mb-5">
                    <header class="card-header">
                        <p class="card-header-title mb-0">
                            Credits
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <div>
                                {% if certifyingorganisation.organisation_credits >= certifyingorganisation.project.certificate_credit %}
                                    <h3 class="has-tooltip-multiline has-tooltip-arrow has-text-centered" data-tooltip="Available credits to issue certificate">
                                        {{ certifyingorganisation.organisation_credits }}
                                    </h3>
                                {% else %}
                                    <h3 class="has-tooltip-multiline has-tooltip-arrow has-text-centered" data-tooltip="Your credits are insufficient to issue more certificates, please top up" style="color: indianred;">
                                        {{ certifyingorganisation.organisation_credits }}
                                    </h3>
                                {% endif %}
                            </div>
                            {% if certifyingorganisation.organisation_credits <= 0 %}
                                <div class="notification is-danger is-light">Your credits are insufficient to issue more certificates, please top up.</div>
                            {% endif %}
                            <a href="{% url "top-up" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}" class="button is-success is-flex is-align-items-center">
                                <span>Top up credits</span>
                                <span class="icon is-small">
                                    <i class="fas fa-shopping-cart"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="card mb-5">
                    <header class="card-header">
                        <p class="card-header-title mb-0">
                            Training Centers
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <h3 class="has-text-centered">{{ num_trainingcenter }}</h3>
                        </div>
                    </div>
                </div>

                <div class="card mb-5">
                    <header class="card-header">
                        <p class="card-header-title mb-0">
                            Attendees
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <h3 class="has-text-centered">{{ num_attendees }}</h3>
                        </div>
                    </div>
                </div>

            </div>
        {% else %}
            <div class="column is-half">
                <div class="card mb-5">
                <header class="card-header">
                    <p class="card-header-title mb-0">Status</p>
                </header>
                <div class="card-content">
                    <div class="content">
                    {% if certifyingorganisation.status %}{{ certifyingorganisation.status }}{% else %}-{% endif %}
                    </div>
                </div>
                </div>
                <div class="card mb-5">
                <header class="card-header">
                    <p class="card-header-title mb-0">Remarks</p>
                </header>
                <div class="card-content">
                    <div class="content">
                    {% if certifyingorganisation.remarks %}{{ certifyingorganisation.remarks }}{% else %}-{% endif %}
                    </div>
                </div>
                </div>
                <div class="card mb-5">
                <header class="card-header">
                    <p class="card-header-title mb-0">External Reviewers</p>
                </header>
                <div class="card-content">
                    <div class="content">
                    <ul id="list-external-reviewer">
                        {% for external_reviewer in external_reviewers %}
                        <li>{% if external_reviewer.name %}<strong>{{ external_reviewer.name }}</strong> - {% endif %}{{ external_reviewer.email }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                </div>
                {% if user_can_update_status %}
                <div class="buttons">
                    <a class="button {% if checked_checklist == available_checklist|length %}is-success is-light{% else %}is-warning{% endif %} btn-checklist-form">
                        <span class="icon">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </span>
                        <span>{{ checked_checklist }}/{{ available_checklist|length }} Checklist</span>
                    </a>
                    {% if 'approved' not in available_status %}
                    <a class="button is-success btn-mini btn-approved has-tooltip-arrow has-tooltip-bottom"
                    href='{% url "certifyingorganisation-approve" project_slug=certifyingorganisation.project.slug slug=certifyingorganisation.slug %}'
                    data-tooltip="Approve {{ certifyingorganisation.name }}">
                        <span class="icon">
                            <i class="fas fa-thumbs-up"></i>
                        </span>
                        <span>Approve</span>
                    </a>
                    {% endif %}
                    {% if 'rejected' not in available_status %}
                    <a class="button is-danger btn-mini has-tooltip-arrow has-tooltip-bottom btn-reject"
                    organisation_name="{{ certifyingorganisation.name }}"
                    organisation_country="{{ certifyingorganisation.country.name }}"
                    organisation_slug="{{ certifyingorganisation.slug }}"
                    organisation_project_slug="{{ certifyingorganisation.project.slug }}"
                    data-tooltip="Reject {{ certifyingorganisation.name }}">
                        <span class="icon">
                            <i class="fas fa-thumbs-down"></i>
                        </span>
                        <span>Reject</span>
                    </a>
                    {% endif %}
                    <a class="button btn-mini btn-update-status has-tooltip-arrow has-tooltip-bottom"
                    href='#'
                    organisation_name="{{ certifyingorganisation.name }}"
                    organisation_country="{{ certifyingorganisation.country.name }}"
                    organisation_slug="{{ certifyingorganisation.slug }}"
                    organisation_project_slug="{{ certifyingorganisation.project.slug }}"
                    organisation_status="{{ certifyingorganisation.status.id }}"
                    organisation_remarks="{{ certifyingorganisation.remarks }}"
                    data-tooltip="Update {{ certifyingorganisation.name }}">
                        Update status
                    </a>
                </div>
                {% endif %}
                {% if user_can_invite_external_reviewer %}
                <a class="button btn-mini btn-invite has-tooltip-arrow has-tooltip-bottom"
                href='#'
                data-org-slug="{{ certifyingorganisation.project.slug }}"
                data-tooltip="Invite External Reviewer">
                    Invite External Reviewer
                </a>
                {% endif %}
                <div class="timeline">
                <ul>
                    {% for history_data in history %}
                    <li>
                        <div class="has-text-weight-semibold">{{ history_data.history_date }}</div>
                        <p>
                        {% if history_data.history_change_reason %}
                            {{ history_data.history_change_reason }}
                        {% else %}
                            {% if history_data.history_type == '+' %}
                            Created {% else %}
                            Updated {% endif %} by {{ history_data.history_user }}
                        {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        {% endif %}

    </div>

    {% if certifyingorganisation.approved %}
    <div class="course-details">
        <div class="card mb-5">
            <header class="card-header">
                <p class="card-header-title mb-0">
                    Courses
                </p>
                <div class="card-header-icon">
                    {% if user_can_create %}
                        <a class="button is-success"
                           href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'
                           title="Create New Course">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    {% else %}
                        {% for courseconvener in courseconveners %}
                            {% if user == courseconvener.user %}
                                <a class="button is-success is-small"
                                   href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'
                                   title="Create New Course Convener">
                                    <span class="icon is-small">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    {% if num_course == 0 %}
                        <div class="notification is-warning is-light">
                            <p>No courses are defined, but you can <a class="button is-link is-small"
                                href='{% url 'course-create' certifyingorganisation.project.slug certifyingorganisation.slug %}'>create one</a>.</p>
                        </div>
                    {% else %}
                        <table class="table is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Course Name</th>
                                    <th>Date</th>
                                    <th>Training Center</th>
                                    <th>Course Language</th>
                                    <th>Course Convener</th>
                                    <th class="has-text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td>{{ course.course_type.name }}</td>
                                        <td>{{ course.start_date }} to {{ course.end_date }}</td>
                                        <td>{{ course.training_center.name }}</td>
                                        <td>{{ course.language }}</td>
                                        <td>
                                            {% if course.course_convener.user.first_name %}
                                                {{ course.course_convener.user.first_name }} {{ course.course_convener.user.last_name }}
                                            {% else %}
                                                {{ course.course_convener.user }}
                                            {% endif %}
                                        </td>
                                        <td class="has-text-right" style="width: 152px;">
                                            <div class="buttons are-small is-justify-content-flex-end">
                                                {% if user_can_delete or user == course.course_convener.user %}
                                                    <a class="button is-danger is-light"
                                                       href='{% url "course-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                                                       title="Delete">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-trash"></i>
                                                        </span>
                                                    </a>
                                                    <a class="button is-light"
                                                       href='{% url "course-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                                                       title="Edit">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </span>
                                                    </a>
                                                {% endif %}
                                                <a class="button is-light"
                                                   href='{% url 'course-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug slug=course.slug %}'
                                                   title="View">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-eye"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <header class="card-header">
                <p class="card-header-title mb-0">
                    Training Centers
                </p>
                <div class="card-header-icon">
                    {% if user_can_create %}
                        <a class="button is-success"
                           href='{% url "trainingcenter-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
                           title="Create New Training Center">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="map-wrapper" style="horiz-align: center;">
                        <div id="map"></div>
                    </div>
                    {% if num_trainingcenter == 0 %}
                        <div class="notification is-warning">
                            <p>No training centers are defined, but you can <a class="button is-link is-small"
                                href='{% url "trainingcenter-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>register one</a>.</p>
                        </div>
                    {% else %}
                        <table class="table is-fullwidth">
                            {% for trainingcenter in trainingcenters %}
                                <tr>
                                    <td>
                                        <a href="{% url 'trainingcenter-detail' certifyingorganisation.project.slug certifyingorganisation.slug trainingcenter.slug %}">
                                            {{ trainingcenter.name }}
                                        </a>
                                    </td>
                                    <td class="has-text-right">
                                        {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner or user in certifyingorganisation.project.certification_manager.all %}
                                            <div class="buttons are-small is-justify-content-flex-end">
                                                <a class="button is-danger is-light"
                                                   href='{% url "trainingcenter-delete" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                                                   title="Delete {{ trainingcenter.name }}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                </a>
                                                <a class="button is-light"
                                                   href='{% url "trainingcenter-update" project_slug=trainingcenter.certifying_organisation.project.slug organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                                                   title="Edit {{ trainingcenter.name }}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <header class="card-header">
                <p class="card-header-title mb-0">
                    Course Types
                </p>
                <div class="card-header-icon">
                    {% if user_can_create %}
                        <a class="button is-success"
                           href='{% url 'coursetype-create' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
                           title="Create New Course Type">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    {% if num_coursetype == 0 %}
                        <div class="notification is-warning">
                            <p>No course types are defined, but you can <a class="button is-link is-small"
                                href='{% url 'coursetype-create' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>create one</a>.</p>
                        </div>
                    {% else %}
                        <table class="table is-fullwidth">
                            {% for coursetype in coursetypes %}
                                <tr>
                                    <td>
                                        <a href="{% url 'coursetype-detail' project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug pk=coursetype.pk %}">
                                            {{ coursetype.name }}
                                        </a>
                                    </td>
                                    <td class="has-text-right">
                                        {% if user_can_delete %}
                                            <div class="buttons are-small is-justify-content-flex-end">
                                                <a class="button is-danger is-light"
                                                   href='{% url "coursetype-delete" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug pk=coursetype.pk %}'
                                                   title="Delete {{ coursetype.name }}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                </a>
                                                <a class="button is-light"
                                                   href='{% url "coursetype-update" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug pk=coursetype.pk %}'
                                                   title="Edit {{ coursetype.name }}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <header class="card-header">
                <p class="card-header-title mb-0">
                    Course Conveners
                </p>
                <div class="card-header-icon">
                    {% if user_can_create %}
                        <a class="button is-success"
                           href='{% url "courseconvener-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'
                           title="Create New Course Convener">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    {% if num_courseconvener == 0 %}
                        <div class="notification is-warning">
                            <p>No course conveners are defined, but you can <a class="button is-link is-small"
                                href='{% url "courseconvener-create" project_slug=certifyingorganisation.project.slug organisation_slug=certifyingorganisation.slug %}'>register one</a>.</p>
                        </div>
                    {% else %}
                        <table class="table is-fullwidth">
                            {% for courseconvener in courseconveners %}
                                {% include 'certifying_organisation/includes/convenor_list.html' %}
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% endif %}

    <script>
        let pendingListUrl = "{% url "pending-certifyingorganisation-list" certifyingorganisation.project.slug %}";
        const urlParams = new URLSearchParams(window.location.search);
        const s = urlParams.get('s');

        if (s) {
            let $checklistForm = $('#checklistForm');
            let checklistFormUrl = $checklistForm.attr('action');
            $checklistForm.attr(
                'action',
                checklistFormUrl += '?s=' + s
            )
        }

        function validateEmail(mail) {
            return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)
        }


        $('.btn-invite').click(function () {
            document.forms['inviteExternalReviewerForm'].reset();
            $('#ie-badge').hide();
            $('#inviteReviewerModal').addClass('is-active')
        });

        function closeInviteExternalReviewer() {
            document.forms['inviteExternalReviewerForm'].reset();
            $('#inviteReviewerModal').removeClass('is-active')
        }

        $('#inviteReviewerModal').submit(function (e) {
            e.preventDefault();
            $('#btn-submit-invite').click();
        })

        function submitInviteExternalReviewer(elm) {

            let url = "{% url "invite-external-reviewer" certifyingorganisation.project.slug certifyingorganisation.slug %}";

            // Check email
            let emailInput = $('[name=reviewer-email]');
            let nameInput = $('[name=reviewer-name]');
            let submitButton = $(elm);
            let cancelButton = submitButton.prev();
            let email = emailInput.val();
            let emailValid = validateEmail(email);
            let name = nameInput.val();
            if (!emailValid) {
                alert('Please enter a valid email address.')
                return
            }
            if (!name) {
                alert('Please enter external reviewer name.')
                return
            }

            nameInput.attr('disabled', true);
            emailInput.attr('disabled', true);
            submitButton.attr('disabled', true);
            cancelButton.attr('disabled', true);

            let badge = $('#ie-badge');
            badge.removeClass('badge-success');
            badge.removeClass('badge-danger');

            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'email': email,
                    'name': name
                },
                dataType: 'json',
                success: function(data){
                    document.forms['inviteExternalReviewerForm'].reset();
                    if (data['created']) {
                        badge.addClass('badge-success');
                        badge.html('Reviewer successfully invited!');
                        $('#list-external-reviewer').append(
                            `<li>${email}</li>`
                        )
                    } else {
                        badge.html('Reviewer is already invited.')
                    }

                    badge.show();

                    nameInput.attr('disabled', false);
                    emailInput.attr('disabled', false);
                    submitButton.attr('disabled', false);
                    cancelButton.attr('disabled', false);
                },
                error: function () {
                    badge.addClass('badge-error');
                    badge.html('Error inviting reviewer');
                    badge.show();

                    nameInput.attr('disabled', false);
                    emailInput.attr('disabled', false);
                    submitButton.attr('disabled', false);
                    cancelButton.attr('disabled', false);
                }
            });
        }

        function closeRejectionForm() {
            $('.rejection-form-info').html('');
            document.forms['rejectionForm'].reset();
            $('#rejectionModal').removeClass('is-active')
        }
        function closeUpdateStatusForm() {
            $('.status-form-info').html('');
            document.forms['updateStatusForm'].reset();
            $('#updateStatusModal').removeClass('is-active')
        }
        function closeChecklistModal() {
            $('#checklistModal').removeClass('is-active')
        }

        function submitChecklistForm() {
            document.getElementById('checklistForm').submit();
        }

        function submitRejectionForm() {
            let organisation_slug = $('[name=rejected-organisation-slug]').val();
            let organisation_project_slug = $('[name=rejected-organisation-project-slug]').val();
            $.ajax({
                url: '/{{ LANGUAGE_CODE }}/' + organisation_project_slug + '/reject-certifyingorganisation/' + organisation_slug + '/',
                data: {
                    'remarks': $('[name=status]').val()
                },
                success: function(){
                     location.href = pendingListUrl;
                }
            });
        }
        function submitUpdateStatusForm() {
            var organisation_slug = $('[name=status-organisation-slug]').val();
            var organisation_project_slug = $('[name=status-organisation-project-slug]').val();
            let url = '/{{ LANGUAGE_CODE }}/' + organisation_project_slug + '/update-status-certifyingorganisation/' + organisation_slug + '/'
            if (s) {
                url += `?s=${s}`
            }
            $.ajax({
                url: url,
                method: 'POST',
                data: {
                    'status': $('[name=update-status]').val(),
                    'remarks': $('[name=update-remarks]').val()
                },
                dataType: 'json',
                success: function(data){
                    if (data['status'] === 'rejected') {
                        location.href = pendingListUrl;
                    } else {
                        location.reload()
                    }
                }
            });
        }

        $('.btn-reject').click(function () {
            $('#rejected-organisation-name').html($(this).attr('organisation_name'));
            $('#rejected-organisation-country').html($(this).attr('organisation_country'));
            $('[name=rejected-organisation-slug]').val($(this).attr('organisation_slug'));
            $('[name=rejected-organisation-project-slug]').val($(this).attr('organisation_project_slug'));
            $('#rejectionModal').addClass('is-active')
        });

        $('.btn-checklist-form').click(function () {
            $('#checklistModal').addClass('is-active');
        });


         $('.btn-update-status').click(function () {
            var initial_status = $(this).attr('organisation_status');
            var project_slug = $(this).attr('organisation_project_slug');
            let url = '/{{ LANGUAGE_CODE }}/' + project_slug + '/get-status-list/';
            if (s) {
                url += `?s=${s}`
            }
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    var $selectStatus = $('[name="update-status"]');
                    $selectStatus.empty();
                    $selectStatus.append('<option value="">--------------------------</option>');
                    for(var i=0; i<data.length; i++){
                        if(data[i].id === parseInt(initial_status)){
                            $selectStatus.append('<option value=' + data[i].id + ' selected>' + data[i].name + '</option>')
                        }else {
                            $selectStatus.append('<option value=' + data[i].id + '>' + data[i].name + '</option>')
                        }

                    }
                }
            });
            $('#status-organisation-name').html($(this).attr('organisation_name'));
            $('#status-organisation-country').html($(this).attr('organisation_country'));
            $('[name=status-organisation-slug]').val($(this).attr('organisation_slug'));
            $('[name=status-organisation-project-slug]').val(project_slug);
            $('[name=update-remarks]').val($(this).attr('organisation_remarks') !== 'None' ? $(this).attr('organisation_remarks') : '');
            $('#updateStatusModal').addClass('is-active');
        });

        $('.btn-delete').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-danger')
            },
            function (){
                $(this).removeClass('btn-danger').addClass('btn-default')
            }
        );
        $('.btn-view').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-primary')
            },
            function (){
                $(this).removeClass('btn-primary').addClass('btn-default')
            }
        );
        $('.btn-top-up').hover(
            function (){
                $(this).removeClass('btn-default').addClass('btn-success')
            },
            function (){
                $(this).removeClass('btn-success').addClass('btn-default')
            }
        );
    </script>
{% endblock %}
