{% extends "layouts/certification_base.html" %}
{% load thumbnail %}
{% load custom_markup %}

{% block title %}Certifying Organisation - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1>Certifying Organisation (all)</h1>
{% endblock page_title %}

{% block content %}
    <h1 class="mt-0">
        {% if unapproved %}Unapproved {% endif %}
        Certifying Organisations
    </h1>
    <div class="buttons">
        <a class="button is-success has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
           href='{% url "certifyingorganisation-create" project_slug %}'
           data-tooltip="Sign Up for Certification!">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span>Sign Up</span>
        </a>
        <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
           href='{% url "feed-training-center-project" project_slug %}' target="_blank"
           data-tooltip="Feed for List of All Training Centers">
            <span class="icon">
                <i class="fa fa-rss-square"></i>
            </span>
        </a>
        <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
           href='{% url "feed-upcoming-project-course" project_slug %}' target="_blank"
           data-tooltip="Feed for List of All Upcoming Courses">
            <span class="icon">
                <i class="fa fa-rss"></i>
            </span>
        </a>
        <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
           href='{% url "feed-past-project-course" project_slug %}' target="_blank"
           data-tooltip="Feed for List of All Past Courses">
            <span class="icon">
                <i class="fa fa-rss" style="color: grey"></i>
            </span>
        </a>
        {% if user.is_staff or user == the_project.owner or user in the_project.certification_managers.all %}
            <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
               href='{% url "certifyingorganisation-create" project_slug %}'
               data-tooltip="Create New Certifying Organisation">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
            </a>
            {% if not unapproved %}
                <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
                   href='{% url "pending-certifyingorganisation-list" project_slug %}'
                   data-tooltip="View Pending Certifying Organisations">
                    <span class="icon">
                        <i class="fas fa-clock"></i>
                    </span>
                </a>
            {% else %}
                <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
                   href='{% url "certifyingorganisation-list" project_slug %}'
                   data-tooltip="View Certifying Organisations">
                    <span class="icon">
                        <i class="fas fa-list"></i>
                    </span>
                </a>
            {% endif %}
        {% endif %}
        <a class="button is-light has-tooltip-bottom has-tooltip-arrow has-tooltip-multiline"
           href='{% url 'about' the_project.slug %}'
           data-tooltip="About Certification">
            <span class="icon">
                <i class="fas fa-info-circle"></i>
            </span>
        </a>
    </div>

    {% if num_certifyingorganisations == 0 %}
        {% if unapproved %}
            <h3 class="subtitle is-5">All certifying organisations are approved.</h3>
        {% else %}
            <h3 class="subtitle is-5">No certifying organisations are defined.</h3>
        {% endif %}
    {% endif %}

    {% include 'certifying_organisation/includes/certifying-organisation-datatable.html' with approved=True %}

{% endblock %}
