{% extends "project_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Update {{ certifyingorganisation.name }}
{% endblock %}

{% block js_head %}
    <script type="text/javascript" charset="utf-8">
        let grappelli = {};
    </script>
    <script type="text/javascript" src="/static/js/jsi18n.js"></script>
{% endblock %}

{% block css_head %}
    {{ form.media }}
{% endblock css_head %}

{% block page_title %}
    <h1>Update Certifying Organisation</h1>
{% endblock page_title %}

{% block content %}

    <style>
     legend {
        display: flex;
        justify-content: space-between;
        width: 100%;
     }

     .selector {
         margin-top: 10px;
     }

     .selector h2 {
         padding-top: 20px !important;
     }

     #id_organisation_owners_input {
         top: -4px;
         left: 0;
     }
    </style>

    <section id="forms">
        <div class='container' style="margin-bottom: 60px">
            {% csrf_token %}
            {% crispy form %}
            {% for form in inlines %}
                {% crispy form %}
            {% endfor %}
        </div>
    </section>

    <script>
    $(document).ready(function() {
        $('legend').each(function() {
            var div = $('<div>');
            div.html('<a href="{% url "about" the_project.slug %}" class="icon button is-light" title="About"><i class="fas fa-info-circle"></i></a>');
            $(this).append(div);
        });

        var nameDiv = $('#div_id_name');
        if (nameDiv.length) {
            var infoText = $('<div>', { class: 'notification is-primary3 is-light' });
            infoText.html('Click the <span class="icon"><i class="fas fa-info-circle"></i></span> icon for details on how the certification programme works.');
            nameDiv.prepend(infoText);
        }
    });
    </script>

{% endblock %}
