{% load static %}
<link rel="stylesheet" href="{% static "css/dataTables.bulma.css" %}">
<table
  id="dataTable"
  class="table is-fullwidth is-hoverable"
  data-ajax-url="{% url 'certifyingorganisation-list-json' project_slug=the_project.slug %}"
  data-approved="{{ approved }}"
>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Creation Date</th>
      <th>Update Date</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Organization</th>
      <th>Creation Date</th>
      <th>Update Date</th>
    </tr>
  </tfoot>
</table>

<script src="{% static "js/dataTables/dataTables.init.js" %}"></script>
<script src="{% static "js/dataTables/dataTables.bulma.js" %}"></script>
