{% extends "project_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add Sustaining Member{% endblock title %}

{% block js_head %}
    <script type="text/javascript" src="/static/js/jsi18n.js"></script>
{% endblock %}


{% block extra_head %}
<script type="text/javascript" src="{% static 'js/jquery.formset.min.js' %}"></script>
{% endblock %}


{% block content %}

<h1 class="title mt-0">Become a Sustaining Member</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="field is-grouped mt-5">
       <div class="control">
          <button type="submit" class="button is-success" id="submit-save">Submit</button>
       </div>
    </div>
</form>

<script>

    $(function () {

        setTimeout(function () {
            // Make name input focused
            $('#id_name').focus()
        }, 100);

    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            $(input).parent().find('.img-preview').remove();
            reader.onload = function (e) {
                const previewDiv = $('<img class="img-preview"/>');
                $(input).after(previewDiv);
                previewDiv.attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_logo").change(function(){
        readURL(this);
    });
    $("#id_agreement").change(function(){
        readURL(this);
    });
</script>
{% endblock %}
