{% extends "base_with_sidebar.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% load i18n %}
{% block title %}Sustaining Membership Levels - {{ block.super }}{% endblock %}

{% block page_title %}
    <h1 class="title">Sustaining Membership levels (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="title">
            {% blocktrans %}Your Sustaining Membership{% endblocktrans %}
        </h1>
    </div>

    {% if sustaining_member %}
    <div class="columns">
        <div class="column is-12">
            {% if not sustaining_member.approved and not sustaining_member.rejected %}
                <div class="notification is-light is-warning">
                    <strong><span class="icon"><i class="fas fa-exclamation-triangle"></i></span></strong>
                    {% blocktrans %}Your sustaining membership application hasn't been approved yet.{% endblocktrans %}
                </div>
            {% elif sustaining_member.rejected %}
                 <div class="notification is-light is-danger">
                    <strong><span class="icon"><i class="fas fa-exclamation-triangle"></i></span></strong>
                    {% blocktrans %}Your sustaining membership has been rejected because : {% endblocktrans %} {{ sustaining_member.remarks }}.
                     Please <strong><a href='{% url "sustaining-member-update" member_id=sustaining_member.id %}'>edit</a></strong> your data.
                </div>
            {% elif just_approved %}
                <div class="notification is-light is-success">
                    <strong>Congratulations! </strong>
                    {% blocktrans %}Your sustaining membership has been approved.
                        You can now add your {% endblocktrans %}<strong><a
                        href="{% url "sustaining-member-period-create" member_id=sustaining_member.id %}">
                    subscription</a></strong>.
                </div>
            {% endif %}
        </div>
    </div>
    <div class="columns">
        <div class="column is-6">
            <figure class="image">
                <img src="{{ sustaining_member.logo.url }}" />
            </figure>
            {% if subscription %}
                <div class="card" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{{ subscription.sponsorship_level.logo.url }}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="level-title is-size-5 has-text-weight-bold">
                                    {{ subscription.sponsorship_level.name }}
                                    {% if subscription.active_period %}
                                        {% if subscription.expiring %}
                                            <span class="tag is-warning pull-right subscription-status">Expiring</span>
                                        {% else %}
                                            <span class="tag is-success pull-right subscription-status">Active</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="tag is-danger pull-right subscription-status">Expired</span>
                                    {% endif %}
                                </div>
                                <div class="level-amount">
                                    {{ subscription.sponsorship_level.value }} {{ subscription.sponsorship_level.currency }}
                                </div>
                                <div class="period">
                                    {{ subscription.start_date }} - {% if subscription.recurring %} Yearly {% else %} {{ subscription.end_date }} {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if subscription.active_period %}
                    <a href="{% url "sustaining-member-period-update" member_id=sustaining_member.id %}"
                       class="button is-fullwidth is-success"
                       style="margin-bottom: 10px; margin-top: 10px">Update Subscription</a>
                {% else %}
                    <a href="{% url "sustaining-member-period-create" member_id=sustaining_member.id %}"
                       class="button is-fullwidth is-success"
                       style="margin-bottom: 10px; margin-top: 10px">Add Subscription</a>
                {% endif %}
            {% endif %}
            {% if sustaining_member.approved and not subscription %}
                <a href="{% url "sustaining-member-period-create" member_id=sustaining_member.id %}" 
                    class="button is-fullwidth is-success"
                    style="margin-bottom: 10px; margin-top: 10px">Add Subscription</a>
            {% endif %}
        </div>
        <div class="column is-6">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-justify-content-space-between">
                        <span>
                            <span class="icon"><i class="fas fa-info-circle"></i></span>
                            {% blocktrans %}Sustaining Member Info{% endblocktrans %}
                        </span>
                        {% if sustaining_member.approved or sustaining_member.rejected %}
                        <a href='{% url "sustaining-member-update" member_id=sustaining_member.id %}'
                           class="button is-pulled-right">Edit</a>
                        {% endif %}
                    </p>
                </header>
                <div class="card-content">
                    <div class="form-group">
                        <label class="label">Name</label>
                        <p>{% if sustaining_member.name %}
                            {{ sustaining_member.name }} {% else %}
                            - {% endif %}</p>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="label">Representative Title</label>
                        <p>{% if sustaining_member.contact_title %}
                            {{ sustaining_member.contact_title }} {% else %}
                            - {% endif %}</p>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="label">Organisation URL</label>
                        <p>{% if sustaining_member.sponsor_url %}
                            <a href="{{ sustaining_member.sponsor_url }}" target="_blank">{{ sustaining_member.sponsor_url }}</a> {% else %}
                            - {% endif %}</p>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="label">Contact Person</label>
                        <p>{% if sustaining_member.contact_person %}
                            {{ sustaining_member.contact_person }} {% else %}
                            - {% endif %}</p>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="label">Address</label>
                        <p>{% if sustaining_member.address %}
                            {{ sustaining_member.address | safe }} {% else %}
                            - {% endif %}</p>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="label">Country</label>
                        <p>{% if sustaining_member.country %}
                            {{ sustaining_member.country.name }} {% else %}
                            - {% endif %}</p>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="label">Email of the contact person</label>
                        <p>{% if sustaining_member.sponsor_email %}
                            <a href="mailto:{{ sustaining_member.sponsor_email }}">{{ sustaining_member.sponsor_email }}</a> {% else %}
                            - {% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <h4 class="title is-4">You haven't become a sustaining member yet, <a href="{% url "sustaining-member-create" %}" class="button is-success">sign up</a> to become one.</h4>
    {% endif %}
{% endblock %}