{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Sponsors Programme - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Sponsors Programme</h1>
{% endblock page_title %}

{% block content %}
    <h1 class="title is-flex is-justify-content-space-between mt-0">Sponsorship Programme
        <div class="buttons is-right mb-5">
            {% if user.is_staff or user == the_project.owner %}
                <a href="{% url 'project-update' the_project.slug %}"
                class="button is-light tooltip"
                data-tooltip="Update">
                <span class="icon is-small">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <span>Update</span>
                </a>
            {% endif %}
            </div>
    </h1>
    <div>
    {% if the_project.sponsorship_programme %}
    <div class="content">
        {{ the_project.sponsorship_programme|base_markdown }}
    </div>
    {% else %}
        {% if user.is_staff or user == the_project.owner %}
            <h4 class="subtitle">No sponsorship programme descriptions are available for this project. But you can
                <a
                    class="button is-light is-small"
                    href='{% url 'project-update' the_project.slug %}'>add here</a>.</h4>
        {% else %}
            <h4 class="subtitle">No descriptions are available.</h4>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
