{% load custom_markup %}
{% load thumbnail %}
{% load embed_video_tags %}

<div class="columns">
    <a class="anchor-entry" id="{{ entry.slug }}"></a>
    <div class="column is-10">
        <h3><span>Feature:</span> {{ entry.title }}</h3>
    </div>
    <div class="column is-2">
        <div class="buttons is-right">
            {% if not entry.version.locked %}
                {% if user.is_authenticated and not rst_download %}
                    <a class="button is-light is-small has-tooltip-bottom"
                       data-tooltip="Delete Entry"
                       href='{% url "entry-delete" pk=entry.id %}'>
                        <span class="icon is-small">
                            <i class="fas fa-minus"></i>
                        </span>
                    </a>
                    <a class="button is-light is-small has-tooltip-bottom"
                       data-tooltip="Update Entry"
                       href='{% url "entry-update" pk=entry.id %}'>
                        <span class="icon is-small">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                    </a>
                {% endif %}
            {% else %}
                <a class="button is-light is-small has-tooltip-bottom"
                   data-tooltip="This entry is locked because the version is locked." disabled="disabled">
                    <span class="icon is-small">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            {% endif %}

            <a class="button is-light is-small has-tooltip-bottom"
               data-tooltip="Get Permalink"
               onclick="copyToClipboard('{{ request.scheme }}://{{ request.get_host }}{{ request.path }}#{{ entry.slug }}')">
                <span class="icon is-small">
                    <i class="fas fa-link"></i>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="columns" style="margin-top:10px">
<style>
   code {
       display: inline;
       padding: 0.5rem;
       word-wrap: normal;
   }
</style>
    <div class="column is-8">
        {{ entry.description|base_markdown }}
    </div>
    <div class="column is-4 has-text-centered">
        {% if entry.image_file %}
            {% if entry.image_file|is_gif %}
                {% if not rst_download %}
                    <img id="{{ entry.image_file.url }}" class="image"
                         data-gifffer="{{ entry.image_file.url }}"
                         src="{{ entry.image_file.url }}"
                         gifffer-alt=""/>
                    <a href="#" class="pop-gif">
                        Click here for bigger size animation.
                    </a>
                {% else %}
                    <a href="{{ entry.image_file.url }}">
                        <img class="image"
                             src="{{ entry.image_file.url }}"
                             alt=""/>
                    </a>
                {% endif %}
            {% else %}
                <a href="#" class="pop-image">
                    <img id="{{ entry.image_file.url }}" class="image"
                         src="{{ entry.image_file.url }}"
                         alt=""/>
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if entry.video %}
    <div class="columns">
        <div class="column is-8 is-offset-1">
            {% video entry.video 'small' %}
        </div>
    </div>
{% endif %}

<div class="columns">
    <div class="column is-8">
        {% if not rst_download %}
            <h5>
                {{ entry.funder_info_html|base_markdown }}
                {{ entry.developer_info_html|base_markdown }}
            </h5>
        {% else %}
            <p>
                {{ entry.funder_info_html|base_markdown }}
                {{ entry.developer_info_html|base_markdown }}
            </p>
        {% endif %}
    </div>
</div>

{% if not rst_download %}
    <hr />
{% endif %}
