{% load custom_markup %}
{% load thumbnail %}

{% if not rst_download %}
    <h1>
        Changelog for {{ version.project.name }} {{ version.name }}
    </h1>
{% endif %}

{% if version.image_file %}
<div class="columns">
    <div class="column">
        {% if not rst_download %}
            <a href="{{ version.image_file.url }}">
                <img class="image is-rounded"
                    src="{{ version.image_file.url }}"/>
            </a>
        {% else %}
            <img class="image is-rounded"
                src="{{ version.image_file.url }}"/>
        {% endif %}
    </div>
</div>
{% endif %}

{% if version.release_date and not rst_download %}
    <h3 class="title is-4">
        Release date: {{ version.formatted_release_date }}
    </h3>
{% endif %}

{% if version.description %}
<div class="columns" style="padding-top: 10px;">
    <div class="column">
        {{ version.description|base_markdown }}
    </div>
</div>
{% endif %}

{% include "version/includes/version-sponsors.html" %}

{% if not rst_download %}
    <hr />
{% endif %}

{% for row in version.categories %}
    {% if row.entries %}
        <div class="buttons is-pulled-right">
        {% if user.is_staff or user in project.changelog_manager.all and not rst_download %}
            <a class="button is-light has-tooltip-bottom"
            data-tooltip="Order Entries"
            href='{% url "entry-order" project_pk=version.project.pk version_pk=version.pk category_pk=row.category.pk %}'>
                <span class="icon is-light">
                    <i class="fas fa-sort"></i>
                </span>
            </a>
        {% endif %}
        </div>
        <a class="anchor" id="category-{{ row.category.id }}"></a>
        <h2 class="title is-3">
            {{ row.category.name }}
        </h2>
        {% if not rst_download %}
            <hr />
        {% endif %}
        {% for entry in row.entries %}
            {% include "entry/includes/entry_detail.html" %}
        {% endfor %}
    {% endif %}
{% endfor %}{# row loop #}