{% extends "base_with_sidebar.html" %}
{% load custom_markup %}
{% load i18n %}

{% block title %}Sustaining Members - {{ sponsor }}{% endblock %}

{% block page_title %}
    <h1 class="title">Sustaining Members (all)</h1>
{% endblock page_title %}

{% block content %}
    <div class="page-header">
        <h1 class="title">
            {{ sponsor }}
        </h1>
    </div>

    <div class="columns">
        <div class="column is-6">
            {% if sponsor.logo %}
                <figure class="image">
                    <img src="{{ sponsor.logo.url }}" alt="Sponsor Logo">
                </figure>
            {% endif %}
            {% if sponsor.sponsorship_level.logo %}
                <figure class="image" style="margin-top: 10px;">
                    <img src="{{ sponsor.sponsorship_level.logo.url }}" alt="Sponsorship Level Logo" width="60">
                </figure>
            {% endif %}
        </div>
        <div class="column is-6">
            {% if sponsor.sponsor_url or sponsor.contact_person or sponsor.sponsor_email or sponsor.sponsor_duration %}
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="fas fa-info-circle"></i></span>
                            {% blocktrans %}Sustaining Member Details{% endblocktrans %}
                        </p>
                    </header>
                    <div class="card-content">
                        {% if period.sponsorship_level %}
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{{ period.sponsorship_level.logo.url }}" alt="Sponsorship Level Logo">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="level-title is-size-5 has-text-weight-bold">
                                        {{ period.sponsorship_level.name }}
                                    </div>
                                    <div class="level-amount">
                                        {{ period.sponsorship_level.value }} {{ period.sponsorship_level.currency }}
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        {% endif %}
                        <div class="content">
                            <p><strong>Author:</strong> {{ sponsor.author }}</p>
                            <p><strong>Website:</strong> 
                                {% if sponsor.sponsor_url %}
                                    <a href="{{ sponsor.sponsor_url }}" target="_blank">{{ sponsor.sponsor_url }}</a>
                                {% else %}
                                    -
                                {% endif %}
                            </p>
                            <p><strong>Start Date:</strong> {{ period.start_date }}</p>
                            {% if period.recurring %}
                                <p><strong>Recurring yearly:</strong> Yes</p>
                            {% else %}
                                <p><strong>End Date:</strong> {{ period.end_date }}</p>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <p><strong>Contact Person:</strong> 
                                    {% if sponsor.contact_person %}
                                        {{ sponsor.contact_person }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </p>
                                <p><strong>Email:</strong> 
                                    {% if sponsor.sponsor_email %}
                                        <a href="mailto:{{ sponsor.sponsor_email }}">{{ sponsor.sponsor_email }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if sponsor.agreement and user.is_authenticated %}
                                <p><strong>Sustaining Member Agreement:</strong> 
                                    <a href="{{ sponsor.agreement.url }}">Document Agreement</a>
                                </p>
                            {% endif %}
                            {% if sponsor.amount_sponsored and sponsor.currency %}
                                <p><strong>Amount Contributed:</strong> {{ sponsor.amount_sponsored }} {{ sponsor.currency }}</p>
                            {% endif %}
                        </div>
                    </div>

                    {% if user_can_edit %}
                        <footer class="card-footer p-3 buttons">
                            <a href="{% url "sponsor-delete" slug %}" class="button is-danger is-outlined card-footer-item">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span>Delete</span>
                            </a>
                            <a href="{% url "sponsor-update" slug %}" class="button is-success is-outlined card-footer-item">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span>Update</span>
                            </a>
                        </footer>
                    {% endif %}
                </div>
            {% else %}
                <p>No description available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
