
<div class="columns is-multiline funders">
  {% for sponsor in sponsors %}
    <div class="
    is-parent column
    is-medium     
    is-one-fifth"
    > 
      <article class="is-child box notification fund-medium">
        <a href="{{ sponsor.sponsor_url }}">
          <figure>
              <img class="is-rounded"
                  src="{{ sponsor.logo.url }}"
              />
          </figure>
          <h3 class="title is-5">{{ sponsor.name }}</h3>
          <article class="subtitle is-7">
              Author: {{ sponsor.author.username }}, {{ sponsor.author.email }}
          </article>
        </a>
        <div class="buttons actions-buttons is-justify-content-center mt-3 mb-0">
          {% if not sponsor.approved %}
            {% if user.is_staff or user == sponsor.project.owner or user in sponsor.project.sponsorship_managers.all %}
                <a class="button is-success is-outlined is-small has-tooltip-arrow has-tooltip-bottom"
                  href='{% url "sponsor-approve" slug=sponsor.slug %}'
                  data-tooltip="Approve {{ sponsor.name }}">
                    <span class="icon">
                        <i class="fas fa-thumbs-up"></i>
                    </span>
                </a>
                <button class="button is-danger is-outlined is-small has-tooltip-arrow has-tooltip-bottom btn-reject"
                        data-tooltip="Reject {{ sponsor.name }}">
                    <span class="icon">
                        <i class="fas fa-thumbs-down"></i>
                    </span>
                </button>
            {% endif %}
            <a class="button is-light is-small has-tooltip-arrow has-tooltip-bottom"
              href='{% url "sponsor-detail" slug=sponsor.slug %}'
              data-tooltip="View {{ sponsor.name }}">
                <span class="icon">
                    <i class="fas fa-eye"></i>
                </span>
            </a>
          {% endif %}
        </div>
      </article>
    </div>
  {% endfor %}
</div>