{% extends "base_with_sidebar.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% block title %}Sustaining Members - {{ block.super }}{% endblock %}

{% block extra_head %}
    <style>
        .modal-card {
            max-width: 600px;
        }
        .modal-card .modal-card-body {
            padding: 1.5rem;
        }
    </style>
{% endblock %}

{% block page_title %}
    <h1 class="title">
        {% if unapproved %}Unapproved {% endif %}
        Sustaining Members
    </h1>
{% endblock page_title %}

{% block content %}
<h1 class="title">
    Pending Sustaining Members
</h1>
    <div class="buttons is-right">
        {% if user.is_authenticated %}
            {% if user.is_staff or user == project.owner or user in project.sponsorship_managers.all %}
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom"
               href='{% url "sustaining-members-rejected-list" %}'
               data-tooltip="View Rejected Sustaining Members">
                <span class="icon">
                <i class="fas fa-ban"></i>
                </span>
                <span>Rejected Members</span>
            </a>
            {% endif %}
            {% if not unapproved %}
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom"
               href='{% url "pending-sponsor-list" %}'
               data-tooltip="View Sustaining Members">
                <span class="icon">
                <i class="fas fa-hourglass-half"></i>
                </span>
                <span>Sustaining Members</span>
            </a>
            {% endif %}
        {% endif %}
    </div>

    {% if num_sponsors == 0 %}
        <h3 class="subtitle">
            {% if unapproved %}
                All sustaining members are approved.
            {% else %}
                No sustaining members are defined, but you can 
                <a class="button is-link is-small" href='{% url "sponsor-create" %}'>create one</a>.
            {% endif %}
        </h3>
    {% endif %}
    
    {% include "sponsor/unapproved-sponsor-card.html" %}

    {% include "_pagination.html" %}

    <!-- Rejection Modal -->
    <div class="modal" id="rejectionModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Reject <span class="text-container"></span></p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="notification is-warning">
                    <p class="has-text-white">
                        Are you sure you want to reject this sustaining member?
                    </p>
                </div>
                <form id="rejectionForm">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Reason for rejection</label>
                        <div class="control">
                            <input class="input" type="text" name="status" id="reject-remark" value="Rejected, because ">
                        </div>
                    </div>
                    <input type="hidden" name="rejected-sustaining-member-id">
                    <input type="hidden" name="rejected-sustaining-member-project-slug">
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button" data-dismiss="modal">Cancel</button>
                <button class="button is-warning is-outlined" onclick="submitRejectionForm()">Reject</button>
            </footer>
        </div>
    </div>

    <script>
        const $rejectionModal = document.getElementById('rejectionModal');

        const submitRejectionForm = () => {
            const remark = document.querySelector('#reject-remark').value;
            const projectSlug = '{{ project_slug }}';
            const id = document.querySelector('[name="rejected-sustaining-member-id"]').value;

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/{{ LANGUAGE_CODE }}/reject-member/${id}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({ remark }),
            }).then(() => location.reload());
        };

        document.querySelectorAll('.btn-reject').forEach(button => {
            button.addEventListener('click', () => {
                let sponsor_id = button.getAttribute('data-sponsor-id');
                let sponsor_name = button.getAttribute('data-sponsor-name');
                let text_container = document.querySelector('.text-container');
                text_container.innerHTML = `${sponsor_name}`;
                document.querySelector('[name="rejected-sustaining-member-id"]').value = sponsor_id;
                

                $rejectionModal.classList.add('is-active');
            });
        });

        document.querySelector('.modal .delete').addEventListener('click', () => {
            $rejectionModal.classList.remove('is-active');
        });
    </script>
{% endblock %}
