
<div class="columns is-multiline funders">
  {% for sponsor in sponsors %}
    {% if list_current_sponsors and sponsor.current_sponsor %}
      {% if level in sponsor.sponsorship_level|lower %}
        <div class="
        is-parent column
        is-medium     
        {% if level == 'flagship' %}
        is-half
        {% elif level == 'large' %}
        is-one-third
        {% elif level == 'medium' %}
        is-one-quarter
        {% elif level == 'small' %}
        is-one-fifth
        {% endif %}"
        > 
          <article class="is-child box notification fund-{{ level }}">
            <a href="{{ sponsor.sponsor.sponsor_url }}">
              <figure>
                  <img class="is-rounded"
                      src="{{ sponsor.sponsor.logo.url }}"
                  />
              </figure>
              <h3 class="title is-5">{{ sponsor.sponsor }}</h3>
              <article class="subtitle is-7 mb-1">
                  {{ sponsor.start_date }} - {{ sponsor.end_date }}
              </article>
              <article class="subtitle is-7">
                  <strong>Amount contributed: {{ sponsor.amount_sponsored }} {{ sponsor.currency }}</strong>
              </article>
            </a>
            <div class="buttons actions-buttons is-justify-content-center mt-3 mb-0">
              {% if sponsor.current_sponsor %}
                {% if user.is_staff or user == the_project.owner or user in the_project.sponsorship_managers.all or user == sponsor.sponsor.author %}
                  <a class="button is-light has-tooltip-arrow has-tooltip-bottom"
                    data-tooltip="Edit"
                    href='{% url "sponsor-update" slug=sponsor.slug %}'>
                    <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                  </a>
                {% endif %}
              {% endif %}
              <a class="button is-light has-tooltip-arrow has-tooltip-bottom"
                data-tooltip="View"
                href='{% url "sponsor-detail" slug=sponsor.slug %}'>
                <span class="icon"><i class="fas fa-eye"></i></span>
              </a>
            </div>
          </article>
        </div>
      {% endif %}
    {% elif not list_current_sponsors and not list_future_sponsors and not sponsor.current_sponsor and not sponsor.future_sponsor %}
      <div class="
      is-parent column
      is-medium     
      is-one-quarter"
      > 
        <article class="is-child box notification past">
          <a href="{{ sponsor.sponsor.sponsor_url }}">
            <figure>
                <img class="is-rounded"
                    src="{{ sponsor.sponsor.logo.url }}"
                />
            </figure>
            <h3 class="title is-5">{{ sponsor.sponsor }}</h3>
            <article class="subtitle is-7 mb-1">
                {{ sponsor.start_date }} - {{ sponsor.end_date }}
            </article>
            <article class="subtitle is-7">
                <strong>Amount contributed: {{ sponsor.amount_sponsored }} {{ sponsor.currency }}</strong>
            </article>
          </a>
          <div class="buttons actions-buttons is-justify-content-center mt-3 mb-0">
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom"
              data-tooltip="View"
              href='{% url "sponsor-detail" slug=sponsor.slug %}'>
              <span class="icon"><i class="fas fa-eye"></i></span>
            </a>
          </div>
        </article>
      </div>
    {% elif list_future_sponsors and not sponsor.current_sponsor and sponsor.future_sponsor %}
      <div class="
      is-parent column
      is-medium     
      is-one-fifth"
      > 
        <article class="is-child box notification fund-medium">
          <a href="{{ sponsor.sponsor.sponsor_url }}">
            <figure>
                <img class="is-rounded"
                    src="{{ sponsor.sponsor.logo.url }}"
                />
            </figure>
            <h3 class="title is-5">{{ sponsor.sponsor }}</h3>
            <article class="subtitle is-7 mb-1">
                {{ sponsor.start_date }} - {{ sponsor.end_date }}
            </article>
            <article class="subtitle is-7">
                <strong>Amount contributed: {{ sponsor.amount_sponsored }} {{ sponsor.currency }}</strong>
            </article>
          </a>
          <div class="buttons actions-buttons is-justify-content-center mt-3 mb-0">
            <a class="button is-light has-tooltip-arrow has-tooltip-bottom"
              data-tooltip="View"
              href='{% url "sponsor-detail" slug=sponsor.slug %}'>
              <span class="icon"><i class="fas fa-eye"></i></span>
            </a>
          </div>
        </article>
      </div>
    {% endif %}
  {% endfor %}
</div>