
<div class="columns is-multiline funders">
  {% for sponsor in sponsors %}
    {% if list_current_sponsors and sponsor.current_sponsor %}
      {% if level in sponsor.sponsorship_level|lower %}
        <div class="
        is-parent column
        is-medium     
        {% if level == 'flagship' %}
        is-half
        {% elif level == 'large' %}
        is-one-third
        {% elif level == 'medium' %}
        is-one-quarter
        {% elif level == 'small' %}
        is-one-fifth
        {% endif %}"
        > 
          <article class="is-child box notification fund-{{ level }}">
            <a href="{% url "sponsor-detail" slug=sponsor.slug %}">
              <figure>
                  <img class="is-rounded"
                      src="{{ sponsor.sponsor.logo.url }}"
                  />
              </figure>
              <h3 class="title is-5">{{ sponsor.sponsor }}</h3>
              <article class="subtitle is-7 mb-1">
                  {{ sponsor.sponsor.country.name }}
              </article>
            </a>
          </article>
        </div>
      {% endif %}
    {% elif not list_current_sponsors and not list_future_sponsors and not sponsor.current_sponsor and not sponsor.future_sponsor %}
      <div class="
      is-parent column
      is-medium     
      is-one-quarter"
      > 
        <article class="is-child box notification past">
          <a href="{% url "sponsor-detail" slug=sponsor.slug %}">
            <figure>
                <img class="is-rounded"
                    src="{{ sponsor.sponsor.logo.url }}"
                />
            </figure>
            <h3 class="title is-5">{{ sponsor.sponsor }}</h3>
            <article class="subtitle is-7 mb-1">
                {{ sponsor.sponsor.country.name }}
            </article>
            <article class="subtitle is-7">
                {{ sponsor.start_date }} - {{ sponsor.end_date }}
            </article>
          </a>
        </article>
      </div>
    {% elif list_future_sponsors and not sponsor.current_sponsor and sponsor.future_sponsor %}
      <div class="
      is-parent column
      is-medium     
      is-one-fifth"
      > 
        <article class="is-child box notification fund-medium">
          <a href="{% url "sponsor-detail" slug=sponsor.slug %}">
            <figure>
                <img class="is-rounded"
                    src="{{ sponsor.sponsor.logo.url }}"
                />
            </figure>
            <h3 class="title is-5">{{ sponsor.sponsor }}</h3>
            <article class="subtitle is-7 mb-1">
              {{ sponsor.sponsor.country.name }}
            </article>
            <article class="subtitle is-7">
                {{ sponsor.start_date }} - {{ sponsor.end_date }}
            </article>
          </a>
        </article>
      </div>
    {% endif %}
  {% endfor %}
</div>