{% extends "base_with_sidebar.html" %}

{% load crispy_forms_tags %}

{% block extra_head %}
    {{ Other }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
    {{  floppyforms }}

{% endblock %}

{% block title %}
    Update Sustaining Member
{% endblock title %}

{% block content %}

    <section id="forms">
        <h1>Update Sustaining Member for {{ project.name }}</h1>
        <form method="post" class="box-content" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="vertical-space"></div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" name="submit" class="button is-success" id="submit-save">Submit</button>
                </div>
            </div>
        </form>
    </section>

{% endblock %}
