{% load static %}
<div class="field">
  <label class="label">{{ widget.attrs.label }}</label>
  <div class="control input is-block is-fullwidth" style="height: fit-content;">
    <div id="selected-items" class="items mb-0"></div>
    <input type="hidden" name="{{ widget.name }}" id="{{ widget.attrs.id }}">
    <input 
      id="item-input" 
      type="text" 
      class="input p-0" 
      style="border: none; box-shadow: none;"
      placeholder="Type to search..." 
    />
  </div>
  <div class="control">
    <div id="item-suggestions" class="dropdown-content is-hidden"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    const hiddenInput = $('#{{ widget.attrs.id }}');
    const itemInput = $('#item-input');
    const suggestionBox = $('#item-suggestions');
    const selectedItems = $('#selected-items');

    // Initialize selected items if hidden input has values
    const initialItems = JSON.parse('{{ widget.value|escapejs }}');
    initialItems.forEach(item => {
      addItem(item);
    });

    itemInput.on('input', function () {
      const query = itemInput.val();

      if (query.length > 1) {
        $.ajax({
          url: `{{ widget.attrs.get_list_url }}?q=${query}`,
          method: 'GET',
          success: function (suggestions) {
            // Clear previous suggestions
            suggestionBox.empty();

            // Display new suggestions
            suggestions.forEach(suggestion => {
              const itemElement = $('<a class="dropdown-item"></a>').addClass('dropdown-item').text(suggestion.display);
              itemElement.on('click', function () {
                addItem(suggestion);
              });
              suggestionBox.append(itemElement);
            });

            // Add option to add new item if no suggestions match
            if (suggestions.length === 0) {
              const addNewItemElement = $('<a class="dropdown-item"></a>').addClass('dropdown-item').text(`Username "${query}" not found.`);
              suggestionBox.append(addNewItemElement);
            }

            suggestionBox.removeClass('is-hidden');
          }
        });
      } else {
        suggestionBox.addClass('is-hidden');
      }
    });

    function addItem(suggestion) {
      // Check if item already exists
      if (selectedItems.children().toArray().some(item => $(item).attr('id').toString() === suggestion.value.toString())) return;

      // Add item to selected items
      const itemEl = $('<span></span>')
      .addClass('tag {{ widget.attrs.color_style }} m-1')
      .text(suggestion.display)
      .attr('id', suggestion.value);

      const deleteBtn = $('<button></button>').addClass('delete is-small');
      deleteBtn.on('click', function () {
        itemEl.remove();
        updateHiddenInput();
      });

      itemEl.append(deleteBtn);
      selectedItems.append(itemEl);

      // Clear suggestions and input
      suggestionBox.addClass('is-hidden');
      itemInput.val('');

      // Update hidden input
      updateHiddenInput();
    }

    function updateHiddenInput() {
      const items = selectedItems.children().toArray().map(item => $(item).attr('id'));
      hiddenInput.val(JSON.stringify(items));
    }
  });
</script>