{% load thumbnail static custom_markup %}
<div class="container rich has-right rounded mt-5" {% if version.url %}ondblclick="window.open('{{ version.url }}', '_blank');"{% endif %}>
    <div class="cont coloring-1">
        <h3 name="titlePreview">
            <a href="{% url 'version-detail' slug=version.slug %}">
                {{ the_project.slug|upper }} {{ version.name|upper }}
            </a>
        </h3>
        <div name="contentPreview" class="has-text-justified">
            {% if version.release_date %}
                <p class="is-size-6 is-italic has-text-weight-medium">
                    <span class="icon">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                    <span>{{ version.release_date }}</span>
                </p>
            {% endif %}
            <p>{{ version.description|base_markdown|truncatewords:30 }}</p>
        </div>
        <div class="mt-3">
            <a class="button is-primary1 is-outlined mb-3" href="{% url 'version-detail' slug=version.slug %}">
                <span class="icon"><i class="fas fa-eye"></i></span>
                <span>View</span>
            </a>
            {% if user_can_edit %}
                <a class="button is-primary1 is-outlined mb-3" href="{% url 'version-update' slug=version.slug %}">
                    <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                    <span>Edit</span>
                </a>
            {% endif %}
            {% if user_can_delete %}
                <a class="button is-danger is-outlined mb-3 has-tooltip-bottom has-tooltip-arrow" data-tooltip="Delete" href="{% url 'version-delete' slug=version.slug %}">
                    <span class="icon"><i class="fas fa-trash"></i></span>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="rich-right" name="imagePreview">
        {% thumbnail version.image_file "400x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Version image" style="border-radius:10px;">
        {% endthumbnail %}
    </div>
</div>
