{% load thumbnail static custom_markup %}
<div class="
column
is-medium     
is-half-tablet
is-half-desktop
is-one-quarter-widescreen
is-one-third-fullhd">
    <div 
        class="
            card 
            is-flex 
            is-flex-direction-column 
            is-justify-content-space-between
        "
        >
    
        <div class="card-image">
            {% thumbnail version.image_file "400x200" crop="center" as im %}
                <figure class="image m-0">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Version image" />
                </figure>
            {% endthumbnail %}
        </div>

        <div class="card-content is-flex is-flex-direction-column is-justify-content-space-between" style="height: 100%;">
            <div class="media mb-0">
                <div class="media-content is-flex is-justify-content-space-between">
                    <p class="title is-5 mb-0">
                        <a href="{% url 'version-detail' slug=version.slug %}">
                            {{ the_project.slug|upper }} {{ version.name|upper }}
                        </a>
                    </p>
                    {% if version.release_date %}
                        <p class="is-size-6 is-italic has-text-weight-medium">
                            <span class="icon">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <span>{{ version.release_date }}</span>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="mb-0 has-text-justified">
                <p>{{ version.description|base_markdown|truncatewords:15 }}</p>
            </div>
            <p style="height: 100%;"></p>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" href="{% url 'version-detail' slug=version.slug %}">
                <span class="icon">
                    <i class="fas fa-eye"></i>
                </span>
                <span>View</span>
            </a>
            {% if user_can_edit %}
                <a class="card-footer-item" href='{% url "version-update" slug=version.slug %}'>
                <span class="icon">
                    <i class="fas fa-pencil-alt"></i>
                </span>
                <span>Edit</span>
                </a>
            {% endif %}
            {% if user_can_delete %}
                <a class="card-footer-item has-text-danger" href='{% url "version-delete" slug=version.slug %}'>
                <span class="icon">
                    <i class="fas fa-times"></i>
                </span>
                <span>Delete</span>
                </a>
            {% endif %}
        </footer>
    </div>
</div>
