{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Sustaining Member Period
{% endblock title %}
{% block extra_head %}
    {{ floppyforms }}
{% endblock %}

{% block css_head %}
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
    <style>
        .level-title {
            padding-top: 5px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .panel-level:hover {
            background-color: rgba(54, 188, 152, 0.09);
            cursor: pointer;
        }

        .panel-active, .panel-active:hover {
            background-color: rgba(54, 188, 152, 0.15);
            border: 1px solid rgb(54, 188, 152);
        }

        .membership-options-info {
            display: block;
            background-color: #f7f0da;
            padding: 20px 25px;
            border-radius: 3px;
            margin-bottom: 20px;
        }

        .vertical-space {
            margin-bottom: 20px;
        }
    </style>
{% endblock css_head %}

{% block js_head %}
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/datepicker.en.js' %}"></script>
{% endblock %}

{% block content %}
    <script>
        $(function () {
        });
    </script>

    <h1 class="mt-0">Add Sustaining Member Period for {{ member }}</h1>
    <div class="box-content">
        <form method="post" id="period-form">
            {% csrf_token %}
            <input type="hidden" name="stripe-source-id">
            <input type="hidden" name="recurring">
            <div class="container">
                <div class="notification is-success is-light">
                    You can choose a fixed period (e.g. 3 years) by entering a number of years on the left, or tick the checkbox on the right to enable perpetual sustaining membership (in which case you will be billed on an ongoing basis each year).
                    You can change your preferences specified below at any time by revisiting this page.
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <label class="label">Set membership for</label>
                                    <div class="field has-addons">
                                        <p class="control">
                                            <input type="number" class="input" id="period-end" name="period-end" style="width: 80px;" min="1" max="100" step="1" value="{{ period_year }}">
                                        </p>
                                        <p class="control">
                                            <a class="button is-static">year(s)</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field recurring-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" id="recurring" style="margin-top: 6px;" {% if recurring %}checked{% endif %}>
                            Charge me yearly
                        </label>
                    </div>
                    <hr/>
                    <div class="columns">
                        <div class="column is-12">
                            Your membership will run from <strong>{{ date_start }}</strong> to <strong>{{ date_end }}</strong>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="columns is-multiline mt-3">
                {% for level in sponsorhip_levels %}
                    <div class="column is-one-third">
                        <div class="card panel-level" data-id="{{ level.id }}">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="{{ level.logo.url }}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="has-text-weight-medium">{{ level.name }}</p>
                                        <p>{{ level.value }} {{ level.currency }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="vertical-space"></div>
            {{ form|crispy }}
        </form>
        <div class="buttons is-right">
            <button type="button" disabled name="submit" value="Pay"
                class="button is-success" id="submit-save">
                <span class="icon">
                <i class="fas fa-credit-card"></i>
                </span>
                <span>Process Payment</span>
            </button>
        </div>
    </div>


    {% include "stripe.html" %}

    <script>
        const $panelLevel = $('.panel-level');
        const $paymentButton = $('#submit-save');
        const $form = $('#period-form');
        const $alert = $('.alert-data');
        const $recurring = $('#recurring');
        const dateStart = moment('{{ date_start }}', 'MMMM DD, YYYY');
        const dateEnd = moment('{{ date_end }}', 'MMMM DD, YYYY');
        let selectedLevel = null;
        const $periodEnd = $('#period-end');
        const $periodContainer = $('#membership-period');

        $(function(){
            $('#div_id_sponsorship_level').hide();
        });

        $recurring.change(function() {
            const recurring = $(this).prop('checked');
            if (recurring) {
                $periodEnd.attr('disabled', true);
                $alert.html(`Your membership will run <strong>Yearly</strong> from <strong>{{ date_start }}</strong> and will be automatically renewed in <strong>{{ date_end }}</strong>`);
            } else {
                $periodEnd.attr('disabled', false);
                $periodEnd.change();
            }
        });

        $periodEnd.change(function () {
            let _dateStart = dateStart.clone();
            const recurring = $recurring.prop('checked');
            if (!recurring) {
                $alert.html(`Your membership will run from <strong>${dateStart.format('MMMM DD, YYYY')}</strong> to <strong>${_dateStart.add('years', $periodEnd.val()).format('MMMM DD, YYYY')}</strong>`);
            }
        });

        $paymentButton.click(function () {
            $('#paymentModal').addClass('is-active');
        });

        $panelLevel.click(function(){
            const $container = $panelLevel.parent();
            $paymentButton.attr('disabled', false);
            selectedLevel = $(this).data('id');
            $('#id_sponsorship_level').val(selectedLevel);
            $.each($container.find('.panel-active'), function(index, elm){
                $(elm).removeClass('panel-active');
            });
            $(this).addClass('panel-active');
        });

        function stripeSourceHandler(source) {
            // Insert the source ID into the form so it gets submitted to the
            // server
            $form.find('input[name="stripe-source-id"]').val(source.id);
            $form.find('input[name="recurring"]').val($recurring.prop('checked'));
            $form.submit();
        }
    </script>
{% endblock %}