# custom slugify
awesome-slugify~=1.6
beautifulsoup4~=4.12
crispy-bootstrap3~=2024.1
Django~=4.2
dj-stripe==2.8.4
django-allauth~=0.63
django-braces~=1.15
# disqus
django-disqus~=0.5
django-colorfield~=0.11
django-countries~=7.6
django-crispy-forms~=2.1
django-datatables-view~=1.20
# youtube embed
django-embed-video~=1.4
easy-thumbnails~=2.8
django-grappelli~=4.0
# Update for Django 4, the original package is broken
git+https://github.com/Xpirix/django-hashedfilenamestorage.git
django-modeltranslation~=0.18
django-model-utils~=4.5
django-pipeline~=3.1
django-preferences~=1.0
git+https://github.com/dimasciput/django-pure-pagination.git
django-reversion~=5.0
#translation management tool
django-rosetta~=0.10
django-simple-history~=3.5
# rich text editor
django-tinymce~=4.0
django-widget-tweaks~=1.5
djangorestframework~=3.15
markdown~=3.6
Pillow~=10.3
# Update for Django 4, the original package is broken
git+https://github.com/Xpirix/pinax-notifications.git
pinax-templates~=3.0
pypandoc~=1.13
# pypandoc is an interface for pandoc converter
pypandoc~=1.13
psycopg2-binary~=2.9
pytz~=2024.1
raven~=6.10
reportlab~=4.0
requests~=2.32
# support special characters
Unidecode~=0.4
WeasyPrint~=62.1
xhtml2pdf~=0.2