{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block title %}Confirm Email{% endblock %}

{% block pagetitle %}
    <section class="hero is-dark is-medium has-bg-img" style="background: url({% static "images/hegobg1.webp" %});
    background-position: 50%;
    background-size: cover;">
    <div class="hero-body" style="height: 100dvh;">
        <div class="columns is-vcentered is-centered">
            <div class="column is-4 p-6 login-container">
                <div class="has-text-centered">
                    <h3 class="title">{% trans "Confirm E-mail Address" %}</h3>
                    <hr class="login-hr" />
                    <div class="content">
                        {% csrf_token %}
                        {% if confirmation %}
                            {% user_display confirmation.email_address.user as user_display %}
                            <p>{% blocktrans with confirmation.email_address.email as email %}
                                Please confirm that <a href="mailto:{{ email }}">{{ email }}</a>
                                is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
                            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <button type="submit" class="button is-success is-medium is-fullwidth mt-5">
                                    <span>{% trans 'Confirm' %}</span>
                                    <span class="icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </form>
                        {% else %}
                            {% url 'account_email' as email_url %}
                            <p>{% blocktrans %}
                                This e-mail confirmation link expired or is invalid.
                                Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
                            {% endblocktrans %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}