{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block js_head %}
    <script type="text/javascript">
        $(document).ready(function () {
            var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
            var actions = document.getElementsByName('action_remove');
            if (actions.length) {
                actions[0].addEventListener("click", function(e) {
                    if (! confirm(message)) {
                        e.preventDefault();
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block title %}Account{% endblock %}

{% block pagetitle %}
    <section class="hero is-dark is-medium has-bg-img" style="background: url({% static "images/hegobg1.webp" %});
    background-position: 50%;
    background-size: cover;">
    <div class="hero-body" style="height: 100dvh;">
        <div class="columns is-vcentered is-centered">
            <div class="column is-4 p-6 login-container">
                <div class="has-text-centered">
                    <h3 class="title">{% trans "E-mail Addresses" %}</h3>
                    <hr class="login-hr" />
                    <div class="content">
                        {% csrf_token %}
                        <div class="container">
                            <div class="custom-form-container">
                                {% if user.emailaddress_set.all %}
                                    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>
                                    <form action="{% url 'account_email' %}" class="email_list" method="post">
                                        {% csrf_token %}
                                        <fieldset class="has-text-left">
                                            {% for emailaddress in user.emailaddress_set.all %}
                                                <div class="field">
                                                    <label class="radio {% if emailaddress.primary %}has-text-weight-bold{%endif%}">
                                                        <input type="radio" name="email"
                                                                {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                                                               checked="checked"
                                                                {%endif %} value="{{emailaddress.email}}"/>
                                                        {{ emailaddress.email }}
                                                        {% if emailaddress.verified %}
                                                            <span class="tag is-success">{% trans "Verified" %}</span>
                                                        {% else %}
                                                            <span class="tag is-warning">{% trans "Unverified" %}</span>
                                                        {% endif %}
                                                        {% if emailaddress.primary %}
                                                            <span class="tag is-info">{% trans "Primary" %}</span>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                            <div class="buttons">
                                                <button class="button is-outlined is-success has-tooltip-bottom has-tooltip-arrow" type="submit" name="action_primary" data-tooltip="{% trans 'Make Primary' %}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-star"></i>
                                                    </span>
                                                </button>
                                                <button class="button is-outlined is-warning has-tooltip-bottom has-tooltip-arrow" type="submit" name="action_send" data-tooltip="{% trans 'Re-send Verification' %}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>
                                                </button>
                                                <button class="button is-outlined is-danger has-tooltip-bottom has-tooltip-arrow" type="submit" name="action_remove" data-tooltip="{% trans 'Remove' %}">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-trash"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </fieldset>
                                    </form>
                                {% else %}
                                    <p><strong>{% trans 'Warning:'%}</strong>
                                        {% blocktrans %}
                                            You currently do not have any e-mail address set up. You should really add an e-mail
                                            address so you can receive notifications, reset your password, etc.
                                        {% endblocktrans %}</p>
                                {% endif %}
                                <h2 class="title is-4">{% trans "Add E-mail Address" %}</h2>

                                <form method="post" action="{% url 'account_email' %}" class="add_email">
                                    {% csrf_token %}
                                    {% include "account/form_snippet.html" with form=form %}
                                    <button class="button is-success is-fullwidth mt-5" name="action_add" type="submit">
                                        {% trans "Add E-mail" %}
                                    </button>
                                </form>
                            </div>
                        </div> <!-- /container -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
