{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block title %}Log Out{% endblock %}

{% block pagetitle %}
    <section class="hero is-dark is-medium has-bg-img" style="background: url({% static "images/hegobg1.webp" %});
    background-position: 50%;
    background-size: cover;">
    <div class="hero-body" style="height: 100dvh;">
        <div class="columns is-vcentered is-centered">
            <div class="column is-4 p-6 login-container">
                <div class="has-text-centered">
                    <h3 class="title">{% trans "Log Out" %}</h3>
                    <hr class="login-hr" />
                    <p class="subtitle">
                        {% trans "Are you sure you want to log out?" %}
                    </p>
                    <form class="logout" method="POST" action="{% url 'account_logout' %}">{% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="button is-danger is-light is-medium is-fullwidth mt-5" type="submit">
                            <span>{% trans "Log Out" %}</span>
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}