{% extends "base_with_sidebar.html" %}

{% load i18n %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block pagetitle %}
    <section class="hero is-dark is-medium has-bg-img" style="background: url({% static "images/hegobg1.webp" %});
    background-position: 50%;
    background-size: cover;">
    <div class="hero-body" style="height: 100dvh;">
        <div class="columns is-vcentered is-centered">
            <div class="column is-4 p-6 login-container">
                <div class="has-text-centered">
                    <h3 class="title">{% trans "Password Reset" %}</h3>
                    <hr class="login-hr" />
                    <p class="subtitle">
                        {% trans "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}