{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block pagetitle %}
    <section class="hero is-dark is-medium has-bg-img" style="background: url({% static "images/hegobg1.webp" %});
    background-position: 50%;
    background-size: cover;">
    <div class="hero-body" style="height: 100dvh;">
        <div class="columns is-vcentered is-centered">
            <div class="column is-4 p-6 login-container">
                <div class="has-text-centered">
                    <h3 class="title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
                    <hr class="login-hr" />
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="subtitle">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                            Please request a <a href="{{ passwd_reset_url }}" class="has-text-success">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action=".">
                                {% csrf_token %}
                                {% include "account/form_snippet.html" with form=form %}
                                <button class="button is-success is-medium is-fullwidth mt-5" type="submit">{% trans "Change Password" %}</button>
                            </form>
                        {% else %}
                            <p class="subtitle">{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}