{% extends "base_with_sidebar.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% load static %}

{% block content %}
    <h1 class="title">
        Sustaining Members Emails
    </h1>
    <div class="buttons">
        {% if user.is_staff or user == the_project.owner or user in the_project.sponsorship_managers.all %}
            <a class="button is-success has-tooltip-arrow has-tooltip-bottom"
               href='{% url "sponsor-email-create" %}'
               data-tooltip="Send New Email to Sustaining Members">
                <span class="icon">
                    <i class="fas fa-pencil"></i>
                </span>
                <span>Compose</span>
            </a>
        {% endif %}
    </div>
    {% if not sponsoremails %}
      <div class="notification is-primary3 is-light">
        No emails have been sent to sustaining members yet.
        To get started, click the <strong>New Email</strong> button above to compose and send your first message.
      </div>
    {% else %}
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>Recipients Level</th>
            <th>Content Preview</th>
            <th>Status</th>
            <th>Sent At</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for email in sponsoremails %}
          <tr>
            <td>
              {% for level in email.sponsor_levels.all %}
              <span>{{ level.name }}</span>{% if not forloop.last %}, {% endif %}
              {% empty %}
              <span class="has-text-grey-light">No sponsor levels</span>
              {% endfor %}
            </td>
            <td><strong>{{ email.subject }}</strong> - {{ email.body|truncatewords_html:10|safe }}</td>
            <td class="has-text-centered">
              {% if email.status == "sent" %}
              <span class="icon has-text-success" title="Sent">
                <i class="fas fa-check-circle"></i>
              </span>
              {% elif email.status == "failed" %}
              <span class="icon has-text-danger" title="Failed">
                <i class="fas fa-times-circle"></i>
              </span>
              {% else %}
              <span class="icon has-text-warning" title="Draft">
                <i class="fas fa-triangle-exclamation"></i>
              </span>
              {% endif %}
            </td>
            <td>{{ email.sent_at|date:"Y-m-d H:i" }}</td>
            <td>
                <a class="button is-small is-light" href="{% url 'sponsor-email-detail' email.pk %}" title="View">
              <span class="icon">
                <i class="fas fa-eye"></i>
              </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "_pagination.html" %}
    {% endif %}

{% endblock content %}
