<div class="box mb-0 context-container" id="context" style="z-index: 10000;">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-align-items-center is-justify-content-space-between">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="pluginsNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="top-navbar" class="navbar-menu">
            <div class="navbar-start">
                {% include 'includes/base-auth-nav-left.html' %}
            </div>
            <div class="navbar-end">
                {% include 'includes/right-nav.html' %}
            </div>
        </div>
    </nav>
  </div>
</div>