{% extends "project_base.html" %}
{% load static %}
{% block title %}Profile Page{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-half">
                <h1 class="title">User Profile</h1>
            </div>
            <div class="column is-half has-text-right">
                <a class="button is-light"
                   href='{% url "edit-profile" user.pk %}'>
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                    <span>Edit Profile</span>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-one-quarter">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                            </figure>
                        {% else %}
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{% static 'img/default-user.png' %}" />
                            </figure>
                        {% endif %}
                    </div>
                    <div class="column">
                        <table class="table is-fullwidth">
                            <tbody>
                                <tr>
                                    <td><strong>Username</strong></td>
                                    <td>{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td><strong>First Name</strong></td>
                                    <td>{{ user.first_name }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Last Name</strong></td>
                                    <td>{{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td>{{ user.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}