{% extends 'base_with_sidebar.html' %}

{% load static %}

{% block content %}
    <img src="{% static "images/500.png" %}" alt="500 Internal Server Error">
    <h1 class="title">Oops! Something went wrong on our end</h1>
    <p>It looks like our server took a coffee break and forgot to come back.</p>
    <p>Don't worry, we're on it! In the meantime, you can head back to the <a href="/">homepage</a> or file a ticket on our <a href="https://github.com/qgis/QGIS-Website/issues">QGIS-Website project</a> to let us know what happened.</p>
{% endblock %}
