{% load i18n %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if page_obj.has_previous %}
        <a href="?{{ page_obj.previous_page_number.querystring }}" class="pagination-previous">{% trans "previous" %}</a>
    {% else %}
        <a class="pagination-previous" disabled>{% trans "previous" %}</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?{{ page_obj.next_page_number.querystring }}" class="pagination-next">{% trans "next" %}</a>
    {% else %}
        <a class="pagination-next" disabled>{% trans "next" %}</a>
    {% endif %}
    <ul class="pagination-list">
        {% for page in page_obj.pages %}
            {% if page %}
                {% if page == page_obj.number %}
                    <li><a class="pagination-link is-current">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="pagination-link">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
