{% load static i18n %}
<nav id="sidebar" class="sidebar">
  <ul class="content-wrapper">
    {% url 'about' the_project.slug as about_url %}
    <li class="{% if request.path == about_url %}is-active{% endif %}">
      <a href="{{ about_url }}">
        <i class="fas fa-info-circle mr-3"></i>
        Learn about Certification
      </a>
    </li>
    {% url 'certifyingorganisation-create' the_project.slug as create_url %}
    <li class="{% if request.path == create_url %}is-active{% endif %}">
      <a href="{{ create_url }}">
        <i class="fas fa-user-plus mr-3"></i>
        {% trans 'Sign Up for Certification!' %}
      </a>
    </li>
    {% if user.is_staff or user in the_project.certification_managers.all %}
      {% url 'certification-management-view' the_project.slug as management_url %}
      <li class="{% if request.path == management_url %}is-active{% endif %}">
        <a href="{{ management_url }}">
          <i class="fas fa-tasks mr-3"></i>
          Certification Management
        </a>
      </li>
    {% endif %}
    {% url 'certifyingorganisation-list' the_project.slug as organisation_list_url %}
    <li class="{% if request.path == organisation_list_url %}is-active{% endif %}">
      <a href="{{ organisation_list_url }}">
        <i class="fas fa-users mr-3"></i>
        Approved Organisations
      </a>
    </li>
    <li>
      <div class="has-child">
        <a onclick="toggleSubMenu('pending-organisations')">
          <i class="fas fa-clock mr-3"></i>
          Pending Organisations
        </a>
        <span onclick="toggleSubMenu('pending-organisations')" class="drop-arrow">
          <img src="{% static 'images/arrow.svg' %}"/>
        </span>
      </div>
      <ul id="pending-organisations" class="collapsed">
        {% url 'pending-certifyingorganisation-list' the_project.slug as pending_url %}
        <li>
          <a href="{{ pending_url }}?ready=False">
            <i class="fas fa-clock mr-3"></i>
            Not Ready
          </a>
        </li>
        <li>
          <a href="{{ pending_url }}?ready=True">
            <i class="fas fa-check-circle mr-3"></i>
            Ready
          </a>
        </li>
      </ul>
    </li>
    <li>
      <div class="has-child">
        <a onclick="toggleSubMenu('verify-certificates')">
          <i class="fas fa-certificate mr-3"></i>
          Verify Certificates
        </a>
        <span onclick="toggleSubMenu('verify-certificates')" class="drop-arrow">
          <img src="{% static 'images/arrow.svg' %}"/>
        </span>
      </div>
      <ul id="verify-certificates" class="collapsed">
        {% url 'validate-certificate-organisation' the_project.slug as validate_org_url %}
        <li>
          <a href="{{ validate_org_url }}">
            <i class="fas fa-certificate mr-3"></i>
            For Certifying Organisation
          </a>
        </li>
        {% url 'validate-certificate' the_project.slug as validate_url %}
        <li>
          <a href="{{ validate_url }}">
            <i class="fas fa-certificate mr-3"></i>
            For Attendee
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<script>
  function rotateArrow(e) {
    e.previousElementSibling.querySelector('img').classList.toggle('rotated');
  }

  function toggleSubMenu(listId) {
    console.log(listId)
    let e = document.getElementById(listId);
    e.classList.toggle('unfolded');
    rotateArrow(e);
  }

  function toggleMenu() {
    document.getElementById('sidebar').classList.toggle('visible');
    document.getElementById('hamburger-btn').classList.toggle('open');
  }
  // expand active section
  document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
    if (e = li.querySelector('ul')) {
      e.classList.toggle('unfolded');
    }
  });
</script>
